[2015-10-16 22:44] hzalaz opened #3 "Add linking account endpoint"
https://auth0.com/docs/link-accounts#the-api

https://auth0.com/docs/api/v2#!/Users/post_identities

[2016-04-19 19:29] bradfol opened #5 "Alamofire dependency"
The current major version of Alamofire is 3.x.

[2016-04-25 00:58] #5 closed

[2016-05-25 05:23] #3 closed

[2016-09-12 20:25] gbejarano01 opened #44 "Xcode 8 Support?"
Are you evaluating to support Xcode 8?

We need to use your framework in one of our projects and since iOS 10 is going to be released tomorrow, we need this ASAP.

Please, let us know what you can do about it.

Thanks.

[2016-09-13 10:07] aqeelb opened #45 "Auth0 Swift 3 support"
Hi,

We're in a process of migrating our codebase to **Swift 3** to support **iOS 10**.  We're are using _Auth0 SDK_ for our iOS, Android & Web-based products. Our codebase migration has hit a deadlock since Auth0 **1.0.1-rc.2** for iOS does not support **Swift 3**. Please update us as soon as possible.

Thanks,
Team Pixerf

[2016-09-14 15:40] #44 closed

[2016-09-18 16:36] lethianqt94 commented on #45
I have the same problem... :(

[2016-09-19 02:42] #45 closed

[2016-09-19 07:44] aqeelb commented on #45
@hzalaz Thanks very much 👍 @lethianqt94 You should smile now 💃

[2016-09-21 01:23] lethianqt94 commented on #45
👍 . Thanks so much.

[2016-09-27 19:58] larsacus opened #50 "iTunesConnect Transporter errors on "rc" version string"
The iTunes transporter currently errors when processing an application using any of the RC versions (currently `1.0.0-rc4`). Currently using carthage to build the framework.

[code]

Manually (or using `plistbuddy`) changing the version of the framework's plist to 1.0.0 and rebuilding removes the error. I know this is "RC", but this was found when submitting our builds to TestFlight for internal t

[2016-09-28 13:23] iuliiazhelem opened #51 "Facebook Login web page does not redirect to the application at the first login"
At the first login to Facebook the redirect URL contains "fragment" `_=_ `
For example
`com.auth0.akswiftauth0test://juliazhelem.eu.auth0.com/ios/com.auth0.AKSwiftAuth0Test/callback?code=pMmrjQQO7EAQGJmt&state=pg76m1ep6TD0RwYzwrlszuh7bpXjwIBmaxW_NWacZCM#_=_`

Auth0.swift analyzes this URL and marks it as “not completed” (Auth0.resumeAuth(url, options: options) returns "false")

For the next logins

[2016-09-28 13:25] hzalaz commented on #50
Thanks for the warning will release stable soon and this will go away

[2016-09-28 13:25] #50 closed

[2016-09-28 14:56] hzalaz commented on #51
Does it happen with all facebook logins? Not sure that's the proper fix

[2016-09-28 15:38] iuliiazhelem commented on #51
Only with the first login, I mean if you did not login to Facebook on your device before.
In this case URL contains `#_=_` and Auth0.resumeAuth(url, options: options) returns "false" (https://github.com/auth0/Auth0.swift/blob/master/Auth0/OAuth2Session.swift#L87) because items are a0_fragmentValues (`_`, `_`). But the URL is correct, it contains all necessary information (state, code) in NSURL.que

[2016-09-29 09:33] jacobarvidsson opened #54 "Problem using the library with Carthage and Swift 3"
I have two problems:
1. Using: github "auth0/Auth0.swift" 1.0.0, pulls an older version of the repository, with the swift 2.3 support, which doesn't work with Swift 3.0. When I try an upload to iTunes Connect I get an error saying the framework does not support my version of Swift. Changing to github "auth0/Auth0.swift" "master" seems to work, which brings me to problem 2.
2. I get the following e

[2016-09-29 14:41] hzalaz commented on #54
Not sure what `1.0.0` is since we haven't released it yet. The iTunes connect issues can be solved by changing the info.plist of the framework since it has the version of the library and apple won't allow non numeric version numbers. This will get sorted when we release the 1.0.0 version

[2016-09-29 14:41] #54 closed

[2016-09-29 14:45] jacobarvidsson commented on #54
So what version is the latest version that supports Swift 3? In your readme it says:
github "auth0/Auth0.swift" "1.0.0"

[2016-09-29 14:48] hzalaz commented on #54
https://github.com/auth0/Auth0.swift/releases

[2016-09-29 14:57] jacobarvidsson commented on #54
I missed that the 1.0.0 hasn't been released yet (it wasn't really clear from the readme). The last issue(#50) in the issuetracker could also have been left open until 1.0.0 is released , since it was actually the solution to this problem.

[2016-10-02 14:13] cflorion opened #55 "Delegation for Firebase"
Hi 🙂

I am using this library in an iOS App that needs authentication to Firebase with the id_token got by calling `FIRAuth.auth()?.signIn(withCustomToken:...)`

From what I understood I need to do the following steps in order to get this custom token:
- login to Auth0 with email and password to get the credentials via the `Auth0.authentication()        .login(...)` method
- with the credentials I

[2016-10-06 18:22] #51 closed

[2016-10-07 19:57] DanMorganiOS opened #57 "Cocoapods fail to install"
I added the following to my pod file `pod "Auth0", '1.0.0-rc.4@swift-2.3'` and it fails saying `[!] Oh no, an error occurred.`

I can install the swift 3.0 pod perfectly fine using `pod "Auth0", '1.0.0-rc.4'` without the `@swift-2.3` suffix.

[2016-10-07 19:58] hzalaz commented on #57
try specifying it as a branch not a version in your Podfile.

[2016-10-07 20:57] DanMorganiOS commented on #57
Yes that worked 👍 thanks!

[2016-10-07 20:57] #57 closed

[2016-11-10 03:39] charsleysa opened #59 "Missing API"
The delegation endpoint API for refreshing the id_token is missing.

Is this planned? If so, when will this become available?

Cheers!

[2016-11-25 12:57] pedropregueiro opened #61 "Redirect to the app not working 100% of the times"
Hey! I'm trying to use the iOS swift Custom Login functionality as documented [here](https://auth0.com/docs/quickstart/native/ios-swift/02-custom-login#perform-social-authentication), but it seems like the callback to the app is not working properly. Sometimes it works, but other times it just hangs on Safari after the login was already successfully made.

From looking at the request logs, it seem

[2016-11-25 13:04] hzalaz commented on #61
@pedropregueiro just tried with the sample application in the repo and works everytime with a different state. Can you provide us with a sample project or the snippets necessary to reproduce the issue?

[2016-11-28 09:27] rezasham commented on #61
Hi hzalaz,

I´m working with Pedro on this. This is basically what we do:

We are using the callback method through AppDelegate/Auth0 toolbelt:

func application(_ app: UIApplication, open url: URL, options: [UIApplicationOpenURLOptionsKey : Any] = [:]) -> Bool {

        return Auth0.resumeAuth(url, options:options)
}

In our ViewController:

func authenticate() -> Void {
        Auth0

[2016-11-28 11:53] cocojoe commented on #61
It looks like you are using a custom connection?

Can you try a quick test using a standard connection and see if you have any `state` issues. The sample application, part of the following Quickstart guide should let you do this. easily.  https://auth0.com/docs/quickstart/native/ios-swift

I would like to see if we can isolate the issue e.g.  Does it happen for you using say facebook connection or

[2016-11-29 09:11] pedropregueiro commented on #61
hey @cocojoe, just tried with a normal connection like `facebook` and indeed, it does work everytime. using our custom connection (SAML) it seems like the state gets a bit messed up when trying to login over and over again. Here's a trace of the logs when having `auth0.logging(enabled: true)`:

[code]

if you look at those requests, the 1st time we open the `webAuth()`, the state sent is `IPl5Yw..

[2016-11-29 10:33] cocojoe commented on #61
Thanks for the helping isolate the issue @pedropregueiro, let me discuss this internally and come back to you.  Thx

[2016-11-29 12:19] hzalaz commented on #61
@pedropregueiro seems more like a server issue more like an Auth0.swift issue since we only keep track of a single auth transaction which is the latest. So we expect the last state to come back not the previous one since it was discarded.

As I can see from the small logs you provided the second time sends, correctly, a different state but the callback from the SAML IdP or Auth0 returns the old st

[2016-11-29 12:49] pedropregueiro commented on #61
sure @hzalaz, the testing account we're using is mine: `pedropregueiro.eu.auth0.com`. the problem seems to be exactly that one, that either Auth0 or the SAML IdP are not properly handling the state, though I think that the IdP doesn't even care about states.

if you want, we can take this a bit more privately and I can even send you more info like the client_id and so on, so you can try it yoursel

[2016-11-29 12:49] pedropregueiro commented on #61
I can also provide you with more logs, but really, that's all the app is logging in terms of auth0 requests and so on

[2016-11-29 13:10] hzalaz commented on #61
@pedropregueiro I suggest you contact us using https://support.auth0.com so you can pass more info and have some sort of tracking of this issue. Please provide as much info as you can to reproduce it so our backend devs can take a look. Will try to reproduce it on our end and let them know too.

Will close this one since it looks like it's beyond auth0.swift control. Will reopen if something chang

[2016-11-29 13:10] #61 closed

[2016-11-29 13:42] pedropregueiro commented on #61
opened the issue already - no. 17711. if you can push this one internally it'd be great since we've seen quite some wait time on other support tickets before.

thanks for the help @hzalaz!

[2016-11-29 18:09] pedropregueiro commented on #61
hey @hzalaz, one last piece of information on this. I tried grabbing your [samples repo](https://github.com/auth0-samples/auth0-ios-swift-sample/tree/master/02-Custom-Login) example and replicating the issue and I succeeded in it. I think this might be helpful when you guys try to debug what might be happening.

what I changed in your repo was the clientId stuff and the method `performFacebookAuth

[2016-11-30 21:23] jyaunches opened #63 "Not building when authenticating as example..."
Heyo,

So, when I authenticate as per the example in the README:

---
Auth0
   .authentication()
   .login(
       emailOrUsername: "support@auth0.com",
       password: "a secret password",
       connection: "Username-Password-Authentication"
       )
   .start { result in
       switch result {
       case .success(let credentials):
           print("access_token: \(credentials.accessToken)")

[2016-11-30 21:33] jyaunches opened #64 "idToken nil after successful account creation & login"
Heyo!!
So, maybe this is related to the confusion around API usage in my previous issue. Could be.

I'm able to successfully create a user using this code:
https://gist.github.com/jyaunches/6ddd423a09b1afa3ad2c0b7d3401d8a2

When I try to then log the user in, the credentials returned don't have an idToken value.
![screen shot 2016-11-30 at 4 30 57 pm](https://cloud.githubusercontent.com/assets/372

[2016-11-30 21:37] cocojoe commented on #63
Apologies, there is a slight mix up in language between docheaders and readme.  Try the following:

[code]

[2016-11-30 21:42] cocojoe commented on #64
Is this a problem or an observation ? :)

[2016-11-30 21:44] hzalaz commented on #64
@jyaunches try sending also `openid` in the scope

[2016-12-01 01:27] #63 closed

[2016-12-01 15:25] jyaunches commented on #63
This worked.. oddly. It also resolved this issue: https://github.com/auth0/Auth0.swift/issues/64

[2016-12-01 15:27] jyaunches commented on #64
So, using the fix in this: https://github.com/auth0/Auth0.swift/issues/63 addressed this issue. Think maybe old api options should be removed if they're no longer functional?

[2016-12-01 15:33] hzalaz commented on #64
They are not old api just a typo in the docs that @cocojoe already fixed. Thanks for reporting

[2016-12-01 15:33] #64 closed

[2016-12-13 01:06] #55 closed

[2016-12-13 01:06] #59 closed

[2016-12-15 20:42] ali-hamad opened #74 "IOS 8+"
Can this target IOS 8+ instead of IOS 9+?
or whats the best solution to do if not ?

thanks

[2016-12-15 20:46] hzalaz commented on #74
It won't target iOS 8+ since we rely on `SFSafariViewController` for OAuth2 flow and also we believe the user base with iOS 8 is really small to invest the effort of adding a fallback for Safari (WebView which has it's own issues).

You can try using the ObjC version of lock https://github.com/auth0/Lock.iOS-OSX

[2016-12-15 20:46] #74 closed

[2016-12-16 14:54] ali-hamad commented on #74
Cool,

i already implemented the lock login, but i plan to use the link , unlink accounts in the auth0 lib so how can i do !

could i use it as rest api ?

[2016-12-16 15:34] ali-hamad commented on #74
@hzalaz

[2016-12-16 19:54] ali-hamad commented on #74
@cocojoe may i ask about auth0 ios 8 support :P

could use link, unlink accounts as rest api's ?

to overcome the ios 8 issue

[2016-12-18 10:44] ali-hamad opened #76 "link, unlink accounts IOS 8"
Hi there,

I want to use link, unlink accounts and support IOS 8 since we have to!
so whats the best way to overcome the auth0 IOS 8 support, could i use rest api's to link, unlink account ?

thanks in advance

[2016-12-20 22:02] ali-hamad commented on #76
if any have the same issue
i decided to use the lock lib to login and these api's as rest api's to link, unlink and update a user profile here is the documentation for :
https://auth0.com/docs/api/management/v2#!/Users/post_identities

[2016-12-20 22:02] #76 closed

[2016-12-21 19:35] VincentNarbot opened #79 "Auth0.Profile crashing when saving it on Keychain"
Using this
`keychain.setData(NSKeyedArchiver.archivedDataWithRootObject(profile), forKey: "profile")`
from the Auth0 documentation: https://auth0.com/docs/quickstart/native/ios-swift/03-session-handling#validate-an-existent-idtoken

The application is crashing and returning this:
`-[A0Profile encodeWithCoder:]: unrecognized selector sent to instance *** Terminating app due to uncaught exception 'N

[2016-12-21 19:37] hzalaz commented on #79
The class does not implement NSSecureCoding so the error is expected. We will evaluate if it's worth adding

[2016-12-21 19:37] #79 closed

[2016-12-22 16:15] ericreid opened #80 "Renewal error"
I'm trying to implement renewal via refresh tokens, but I'm getting an error of `Unsupported grant type: refresh_token`.

I seem to get a valid refresh token back from the login call. But when I try to use it, I get the error above.

Is there another scope I need? Or something I need to adjust in my settings somewhere?

Here is my login code:
[code]

And here is my renew code:
[code]

[2016-12-22 16:31] hzalaz commented on #80
As the doc comment of the methods, this is only for accounts with the OAuth 2.0 feature enabled and is only to refresh the access_token. If you need please use thttps://github.com/auth0/Auth0.swift/blob/master/Auth0/Authentication.swift#L394 to get a new token

[2016-12-22 16:31] #80 closed

[2016-12-22 16:32] hzalaz commented on #80
A bit more info on delegation endpoint can be found here https://auth0.com/docs/api/authentication#delegation

[2017-01-02 12:25] jacobarvidsson commented on #80
If you are using the jwt token (id token), is there anyway of refreshing it? What is the best strategy if you can't use the refresh token to refresh the id token? @hzalaz

[2017-01-12 01:42] leggitta opened #82 "Unsupported grant type: refresh_token"
Hello,

I'm trying to refresh credentials using a refresh token. I tried ...
[code]
and the result was ```Unsupported grant type: refresh_token```.

Is this a bug or am I doing something wrong. Thanks!

[2017-01-12 01:44] leggitta commented on #82
My apologies. Just found this https://github.com/auth0/Auth0.swift/issues/80

[2017-01-12 01:44] #82 closed

[2017-01-20 13:33] caitlin615 opened #85 "Reason for deprecating tokenInfo"
Can you explain the reason for deprecating the `tokenInfo` from https://github.com/auth0/Auth0.swift/pull/70?

[2017-01-27 15:14] hzalaz commented on #85
@caitlin615 probably the message is not clear enough (will fix it).
We are trying to move everyone to use `/userinfo` since if you use our OAuth 2.0 features you need to use that endpoint to get the user information (if you don't use it both endpoints works the same), the only change is that in `/userinfo` needs the `access_token` instead of the `id_token`.

[2017-01-27 15:14] #85 closed

[2017-02-22 10:45] huguesbr commented on #55
Do you have any docs that explain this delegation on iOS?
Can't find any.

Trying to do firebase auth using auth0 but keep having "INVALID_CUSTOM_TOKEN" error from firebase...

[2017-02-22 13:05] cocojoe commented on #55
Hi @huguesbr

Please open a new issue if you wish to continue this.  However have you looked at:

https://auth0.com/docs/libraries/lock-ios/delegation-api

Thanks

[2017-02-22 16:59] huguesbr commented on #55
@cocojoe thx!

[2017-02-28 14:12] wendyabrantes opened #91 "Auth0 Failed to build with carthage (0.20.0)"
it's a swift lint violation on enum and switch

[log_error.txt](https://github.com/auth0/Auth0.swift/files/807027/log_error.txt)
<img width="560" alt="screen shot 2017-02-28 at 14 27 48" src="https://cloud.githubusercontent.com/assets/639463/23409067/2ba389d6-fdc2-11e6-8ca8-3c72f7f2a5cd.png">

[2017-02-28 14:51] cocojoe commented on #91
Hi @wendyabrantes

After trawling though that log, it appears the 'build error' is due to `SwiftLint` issues.  So it appears this is probably the local version of SwiftLint, I'm looking at the changelog of swiftlint and apparently breaking changes were introduced in 0.16 and our version is slightly behind.

I'll take a look at it, you can remove this step in the build phase under Auth0.swift in th

[2017-02-28 14:52] wendyabrantes commented on #91
Ive created a PR

[2017-02-28 14:52] #91 closed

[2017-03-02 23:07] daviskoh opened #94 "expiresIn field is nil"
When logging to get user credentials, the `expiresIn` field is `nil`. All other fields are returned fine.

pod Version: 1.2

[code]

print output:

[code]

Am I missing something? Is this the intended behavior?

NOTE: token values in the print output are replaced with dummy values...

[2017-03-02 23:15] hzalaz commented on #94
@daviskoh is the intended behaviour. If you specify an `audience` the server should return it.

[2017-03-02 23:15] #94 closed

[2017-03-10 15:53] thierrybucco opened #99 "When renewing a token, credential.idToken is nil"
Hi,

I am trying to refresh token using renew method but it does not work. Returned credentials.idToken is set to nil. Here is my code.

[code]

Thanks

[2017-03-10 17:03] cocojoe commented on #99
Hi @thierrybucco

You can make a call to the `delegation` method to return an idToken using your refreshToken.
You can find a complete example [here](https://github.com/auth0-samples/auth0-ios-swift-v2-sample/blob/master/03-User-Sessions/Auth0Sample/SessionManager.swift#L71)

Thanks

[2017-03-10 17:20] thierrybucco commented on #99
Thanks @cocojoe but I read somewhere in Auth0 website that the best way is to use renew method.

[2017-03-10 17:23] hzalaz commented on #99
@thierrybucco you can use `renewAuth` if you set your client flag `OIDC conferment` that can be found in your client settings -> show advanced -> OAuth.

We will improve the docs to avoid this confusion in the future.

[2017-03-10 17:23] #99 closed

[2017-03-10 17:41] hzalaz commented on #99
Or you can follow @cocojoe 's advice

[2017-03-10 17:41] thierrybucco commented on #99
@hzalaz I need more explanation about renewAuth is it a Auth0.swift method?
My project is in swift 3.

[2017-03-10 17:42] hzalaz commented on #99
Sorry mixed languages `renew`

[2017-03-10 18:30] thierrybucco commented on #99
@hzalaz I set client flag as suggested and I got his error: OIDC conformant clients cannot use /oauth/ro

[2017-03-10 18:47] hzalaz commented on #99
Sorry forgot to ask how you were doing Auth. For OIDC you need to use the [login with realm](https://github.com/auth0/Auth0.swift/blob/master/Auth0/Authentication.swift#L122) where the realm is the same as the connection name. If you want you can continue to use /ro but use /delegation to refresh the tokens, which will be the a good approach since we haven't published the new OIDC flow docs.

[2017-03-10 21:49] thierrybucco commented on #99
It works using delegation but not using renew method.

[2017-03-13 20:33] caitlin615 opened #100 "Allow parameters to be added to startPasswordless call for phone number"
I want to be able to add `scope` to a `startPasswordless(phoneNumber)` authParams call, similarly to how you have it setup in `startPasswordless(email)`. It's an optional request parameter for the API call:  https://auth0.com/docs/api/authentication#get-code-or-link and should be allowed in both phone number and email calls. Can this please be added?

[2017-03-15 15:00] cocojoe commented on #100
Hi @caitlin615, looking at the API documentation you linked it states:

authParams
Use this to append or override the link parameters (like scope, redirect_uri, protocol, response_type), when you **send a link using email.**

I do not believe this functionality is available in the API so therefore not available in this library.

[2017-03-20 10:17] #100 closed

[2017-03-29 14:33] edery commented on #94
Can explain please what this audience should contain?

[2017-04-13 01:27] srcreigh opened #106 "Documented method signatures aren't available in the API"
This method signature is documented, but isn't available in the API (i'm using auth0 version 1.5.0)

[code]

[2017-04-13 01:27] srcreigh commented on #106
(Specifically the `login(usernameOrEmail:password:connection:)` method signature)

[2017-04-18 01:32] hzalaz commented on #106
@srcreigh the method is available since the only three required parameters are the ones documented, the rest are optional or have a default value

[2017-04-18 01:32] #106 closed

[2017-05-04 21:28] codyaweber opened #114 "Facebook login returns nil refreshToken"
After logging in with facebook webAuth, I get credentials, but the refreshToken property is nil. Is this expected behavior?

(Sorry for the poor formatting - couldn't figure out the spacing.)

[code]

[2017-05-04 21:38] codyaweber commented on #114
After logging in with facebook webAuth, I get credentials, but the refreshToken property is nil. Is this expected behavior?

(Sorry for the poor formatting - couldn't figure out the spacing.)

`Auth0.webAuth()`
`.connection("facebook")`
`.start{ result in`
`switch result {`
`	case .success(let credentials):`
`		// credentials.refreshToken is nil here`
`	case .failure(let error):`
`		print(error)`

[2017-05-04 21:59] cocojoe commented on #114
You have not set any scope in your request, in particular you need to specify the `offline_access` scope to obtain a `refreshToken` in your `Credentials` instance.

[code]

You can find some general information regarding this here: [Refresh Tokens](https://auth0.com/docs/tokens/preview/refresh-token)

[2017-05-11 12:23] #114 closed

[2017-06-08 15:04] krispyk84 opened #121 ""Grant type 'http://auth0.com/oauth/legacy/grant-type/ro' not allowed for the client.""
Using the Authentication API for login with database connection, I now get the following error on failure:

 "Grant type 'http://auth0.com/oauth/legacy/grant-type/ro' not allowed for the client."

It once worked, but no longer does. How can I modify this code to work:

Auth0
   .authentication()
   .login(
       usernameOrEmail: "support@auth0.com",
       password: "a secret password",
       co

[2017-06-08 15:38] cocojoe commented on #121
Hi @krispyk84

If this is for an existing client (which it sounds like it is), please take a look at the following document https://auth0.com/docs/clients/client-grant-types

I recommend going forward you also take a look at our [OIDC Conformant Authentication](https://auth0.com/docs/api-auth/intro) documentation.

[2017-06-08 15:46] hzalaz commented on #121
@krispyk84 sorry for that but for new clients (starting June 5th)  you need to enable them to use some endpoints. The info in [this doc](https://auth0.com/docs/clients/client-grant-types) might help to understand the reasons and how to enable those endpoints back

[2017-06-08 15:46] #121 closed

[2017-06-09 18:47] portellaa opened #123 "Xcode 9 and Swift 4"
Hello 👋,

I didn't saw a guide on how to contribute or something like that, so sorry in advance if the issue description is not in the best.

# Problem
I'm using your framework in a new app that in be released in a near future and i tried to use with the new Xcode 9, which avoid my rage to go up anytime it crashes, but i found that it didn't compile.

# What i found
Mostly, it doesn't compiles due

[2017-06-09 18:56] hzalaz commented on #123
@portellaa there is a PR that updates those dependencies, unless you need to use beta dependencies which I won't be so sure about. The rest looks good so we will merge

[2017-06-09 18:59] portellaa commented on #123
sorry, i didn't saw the content of the PRs and none of them refer that in the name 🙂

fine then, no need for PR 😉

can you close the issue when the PR is merged? 🍻

[2017-06-09 19:01] hzalaz commented on #123
@portellaa the only thing missing is

[code]

if you want to make the PR otherwise we will do it next week

[2017-06-09 19:12] portellaa commented on #123
yes, i will :) thanks

[2017-06-09 20:27] cocojoe commented on #123
@portellaa

You should check out the existing [swift-4.0-beta branch](https://github.com/auth0/Auth0.swift/tree/swift-4.0.beta) if you want to have a play in Xcode 9 :)
It already includes your code and also has latest dependencies. I found a few other bugs in Nimble 7.0.1 but commented out those tests for now, so everything will pass.

Have fun.

[2017-06-10 14:47] portellaa commented on #123
Awesome @cocojoe 😃 working like a charm.

[2017-06-10 15:17] #123 closed

[2017-06-14 18:51] thierrybucco opened #124 "Grant type 'http://auth0.com/oauth/legacy/grant-type/ro' not allowed for the client. after creating a new client id"
Hi,

we created a new client id, unfortunately I am no more able to login. I get this error:

Grant type 'http://auth0.com/oauth/legacy/grant-type/ro' not allowed for the client.

What must I do?

Thanks

[2017-06-14 18:53] hzalaz commented on #124
Use the following method https://github.com/auth0/Auth0.swift#login-with-database-connection or follow instructions in this guide https://auth0.com/docs/clients/client-grant-types to enable the grant type

[2017-06-14 18:53] #124 closed

[2017-06-14 19:15] thierrybucco commented on #124
I am using login method with parameters:

.login(usernameOrEmail: username, password: password,
			       connection: connection,
			       scope: scope,
			       parameters: parameters)

is the only way is to PATCH new client?

[2017-06-14 19:19] hzalaz commented on #124
That is not the method I suggested you should use so if you dont want to change you need to patch the client

[2017-06-25 19:47] haydenholligan opened #127 "Grant type not allowed for the client"
So we found this error while switching over to new dev accounts today.

![image](https://user-images.githubusercontent.com/9373998/27519183-79602692-59a3-11e7-9a64-819ba8e245cc.png)

I read about it [here](https://community.auth0.com/questions/3944/error-grant-type-password-not-allowed-for-the-clie) and [here](https://github.com/auth0/react-native-lock/issues/165). I've updated Auth0 to v1.6.0. I'

[2017-06-25 20:43] hzalaz commented on #127
@haydenholligan you need to enable the grant `Legacy: RO` as detailed in https://auth0.com/docs/clients/client-grant-types#edit-available-grant_types.

However I'd recommend using https://github.com/auth0/Auth0.swift#sign-up-with-database-connection to create the user and then https://github.com/auth0/Auth0.swift#login-with-database-connection-via-realm to login the user (use the one with `realm`

[2017-06-25 23:50] haydenholligan commented on #127
Cool, I'll try createUser() and realm instead. Shouldn't signUp() be marked as deprecated in Xcode then? This kind of just blindly hit and was very confusing to figure out what was going on.

[2017-06-25 23:54] hzalaz commented on #127
It's in master pending our next release, which should be tomorrow

[2017-06-25 23:56] hzalaz commented on #127
Well actually it's in a PR but the same things applies

[2017-06-26 19:05] haydenholligan commented on #127
Okay. I'm a little confused with the new createUser function. `login()` and the sold `signUp()` both returned `Result<Credentials>`, but `createUser()` just returns a `DatabaseUser` (tuple containing email, username, verified). What's the deal with that? Do I no longer store credentials on a user signup? Or do I call something else to get them? Maybe now I call `login()` following `createUser()`?

[2017-06-26 19:16] hzalaz commented on #127
Yes, the doc on the method should say this too, the `createUser` method just creates the User in a DB connection, then you are responsible of login them or not. The old signup did both at the same time (unless you sent a specific flag).

Now it should be something like to mirror the same behavior

[code]

[2017-06-27 19:27] haydenholligan commented on #127
I just noticed the docs have `accessToken` everywhere, my code has `idToken`. I'm quite sure I followed the same quickstart guide a few months ago. Was `idToken` replaced with `accessToken`?

[2017-06-27 19:33] lbalmaceda commented on #127
@haydenholligan yes, that was replaced a few months ago. Read [this article](https://auth0.com/docs/api-auth/why-use-access-tokens-to-secure-apis) for more context.

[2017-06-27 19:49] haydenholligan commented on #127
I see. I figured this issue out, I'm having a new one where `profile.email` is `nil` after creating a user (the email is visible on auth0 dashboard). Should I create a new issue for that?

[2017-06-27 19:56] lbalmaceda commented on #127
AFAIK the default requested `scope` is `openid`, which will give you an `access_token` that you can use to [call the /userinfo endpoint](https://github.com/auth0/Auth0.swift#retrieve-user-information) later. If you want the profile in the response to include the `email` you must also ask for the `email` scope when logging in (when you're obtaining the access_token). --> Ask `openid email` scope.

[2017-06-27 20:00] haydenholligan commented on #127
Sorry, that's what I'm doing. I'm using the `accessToken` from `login()` to call `userInfo`.The profile I get from `userInfo()` has a `nil` email. The `name` is there though, set as the email address I entered...

[2017-06-27 22:11] hzalaz commented on #127
@haydenholligan what userInfo returns depends on the scopes during login and it will only return OIDC standard claims. To get all info you can get from userInfo you should use `openid profile` and that should see the email when you call https://github.com/auth0/Auth0.swift/blob/master/Auth0/Authentication.swift#L342.

If thats not the case I'd suggest you contact us via https://support.auth0.com s

[2017-06-27 22:11] #127 closed

[2017-06-30 00:07] haydenholligan opened #129 "Profiles created via email sign up are not returning userMetadata"
After adhering to the new Auth0 changes, I am not receiving `userMetadata` for users created via email.

Facebook auth

        Auth0
            .webAuth()
            .connection("facebook")
            .scope("openid offline_access")
            .parameters(["device": "A_UNIQUE_ID"])
            .start { result in
                DispatchQueue.main.async {
                    self.handleAuthRes

[2017-06-30 10:25] cocojoe commented on #129
@haydenholligan `userInfo` should not return `user_metadata` for a database connection in your example.

To request a full profile you should use the Management API as demonstrated in the [Swift QuickStart](https://auth0.com/docs/quickstart/native/ios-swift/03-user-sessions#retrieving-user-metadata)

You should also be able to request `user_metadata` elements by adding [Claims](https://auth0.com/d

[2017-06-30 11:03] cocojoe commented on #129
I notice in your FB `webAuth` you are using parameters for device id, it is not needed for OIDC.  Also if OIDC was enabled `userInfo` would only return the `sub` of the user for `scope` **openid**

Check in your Client Settings `Client / Advanced Settings / OAuth / OIDC Conformant Enabled`

[2017-06-30 13:36] haydenholligan commented on #129
`userInfo` used to return `userMetadata`. I still have to validate the profile with `userInfo`, so now I have to make a second call to the API to get the metadata? Isn't that a little redundant? I have to wait for both of those calls to come back before my app can really do anything. Either that, or now I have to jumble up the function call by manually adding all of the claims?

[2017-06-30 13:37] haydenholligan commented on #129
So now do I use `userInfo(token:)` for email auth and `userInfo(withAccessToken:` for OIDC?

[2017-06-30 13:39] haydenholligan commented on #129
I never saw OIDC conformant pop-up before, exactly what is it and why would I want it enabled / disabled? It isn't mentioned [here](https://auth0.com/authenticate/ios-swift/facebook) so I'm guessing it's not mandatory?

[2017-06-30 14:59] hzalaz commented on #129
@haydenholligan that is bare bones example but besides that, the OIDC option it will be highly recommended to be enabled and at one point will be the default (and only option). We are not enforcing that yet since there are customers using the old way.

This is a bit related to your other issue with the missing Grant Type since we are trying to move all our Auth to OAuth/OIDC flows.

Besides that,

[2017-06-30 16:19] haydenholligan commented on #129
Hold on - for `userInfo(withAccessToken`) as mentioned by @cocojoe, it now returns `UserInfo` instead of profile. Can I use that everywhere instead of profile? Is there documentation on it?

[2017-06-30 16:35] haydenholligan commented on #129
I'm a little confused. `UserInfo` is returned but based on this codebase it isn't used anywhere..

[2017-06-30 16:43] cocojoe commented on #129
@haydenholligan You can use it anywhere as long as you are using OIDC, just take a look at the class: https://github.com/auth0/Auth0.swift/blob/master/Auth0/UserInfo.swift#L61

It is a new method (and OIDC only) so it's not propagated throughout the documentation yet.  However it will become the preferred way.

[2017-06-30 16:54] haydenholligan commented on #129
I'm going to keep OIDC off now and try @hzalaz's suggestion of adding the metadata to the `idToken`.

[2017-06-30 18:10] hzalaz commented on #129
At the end its a string but it has a structure, please check https://jwt.io for more info, in a short description it can hold values and if decoded you can get them (and avoid a network request).

My recommendation is to avoid nesting objects in there and keep it simple, also i'd avoid storing like 100+ properties since will make the token really big.

Then you can decode it with https://github.co

[2017-06-30 18:11] #129 closed

[2017-06-30 20:06] haydenholligan commented on #129
There's no documentation for constructing the `idToken` in Swift right? I know I'm just a lone random user but I really recommend marking functions as deprecated before you release breaking changes, and having documentation for everything new ready to go. I've struggled a great deal this past week with the changes and we were supposed to have our app released by now, but these changes pushed that

[2017-06-30 20:10] hzalaz commented on #129
@haydenholligan the `idToken` is never constructed in Swift (and it never was). Do you mean extracting the information from it?

About the breaking changes, what are the breaking changes you mention about?

[2017-06-30 20:21] haydenholligan commented on #129
Legacy grant types don't work for users created after june 8. We constructed our code based off of the docs in April, and as soon as we transferred over to new dev/prod accounts (formerly using my personal sandbox account) everything (other than facebook auth by luck) broke. The old methods were marked as deprecated just this Monday, nearly 20 days after the changes. After adhering to the new emai

[2017-06-30 20:41] hzalaz commented on #129
@haydenholligan about

You should contact support about it and they could enable those legacy grants for you if you had an old dev account from that date.

To add claims/information to the id_token, you need to do this in a Rule you create in your Auth0 Dashboard, once you login, auth0 will execute that code and you could add your metadata from the token, as explained in the [link](https://auth0.c

[2017-06-30 21:25] haydenholligan commented on #129
Okay gotcha, I see. I'm trying to implement that and currently have

<img width="895" alt="screen shot 2017-06-30 at 5 17 48 pm" src="https://user-images.githubusercontent.com/9373998/27754346-17df45d8-5db8-11e7-98bc-dadc811350ad.png">

Just testing the water with email before adding all of the attributes.
Trying the rule produces
<img width="630" alt="screen shot 2017-06-30 at 5 18 49 pm" src="ht

[2017-06-30 21:31] hzalaz commented on #129
In the `Try ` you need to provide a sample user in JSON, and as far as I can see from your screenshot there is no user_metadata attribute in it

[2017-06-30 21:34] haydenholligan commented on #129
Oh you can edit the try code... it's been a long day. Do you see anything wrong with the Swift code?

[2017-06-30 21:36] hzalaz commented on #129
I think it looks good (If you mean the decode part)

[2017-06-30 21:47] haydenholligan commented on #129
Hmm. So I got try working

<img width="510" alt="screen shot 2017-06-30 at 5 45 12 pm" src="https://user-images.githubusercontent.com/9373998/27755150-e6daa050-5dbb-11e7-849b-95f0b9033044.png">

Now with facebook auth, I tried
`let claim = jwt.claim(name: "address")`
and
`let claim = jwt.claim(name: "https://vaundrydev.auth0.com/address")`

which are both `nil`,

and if i try to create/sign up a u

[2017-06-30 21:53] hzalaz commented on #129
When you login with FB either do this

[code]

Or turn your Client as `OIDC Conformant` in the dashboard, both approaches will have the same effect and the claim will be there. (Customization of the id_token is a feature of OIDC flows)

The other error, probably there is an error in your Rule since its trying to access an undefined attribute, i bet its `user_metadata`. The reason its undefined is

[2017-07-01 00:30] haydenholligan commented on #129
Okay, I think I got login working. However, from what I've found the only way I can update my idToken is by logging in again - how can I get the rest of the metadata? I still have to call `.userInfo()` if they relaunch the app and are still logged in - I still don't want to make 2 calls if I don't have to.

[2017-07-01 00:44] hzalaz commented on #129
What do you mean by updating id_token ?

[2017-07-01 01:17] haydenholligan commented on #129
We've been talking about storing userMetadata in the idToken. The flow of my app is to prompt them to enter additional information after signing up. I store the idToken in keychain and it's only updated on login - so the additional metadata I enter after creating a user is not in the idToken. When a user starts a new session, I don't know what function I should be calling to get that metadata. Aga

[2017-07-01 01:57] hzalaz commented on #129
If you mean to start a new session is that when the app enters foreground or when X time has passed ok and the `user_metadata` could have mutated in some way, ok you need a way to get a fresh values. The values you get at login could be easily be outdated and, for now, userInfo won't help too much (values are not updated on every call of userInfo), so you will need to login.

Most of the times the

[2017-07-03 11:13] HuppDevelopers opened #131 ""error_description":"secret must be a string or buffer""
not able to login today but I could before three days...
I logged it and got this "error":"access_denied","error_description":"secret must be a string or buffer"
Can any one help?

SWIFT 3

[2017-07-03 13:16] cocojoe commented on #131
Can you share with me the code you are calling authentication with and the connection type, please don't paste any credentials.

[2017-07-05 06:53] HuppDevelopers commented on #131
hey thanks for reply @cocojoe
sorry for late reply.

here is my code...

`@IBAction func didPressLogin(_ sender: UIButton) {

        print("Login button pressed")

        Lock
            .classic()

            .withOptions {
                $0.logLevel = .all
                $0.logHttpRequest = true
                $0.closable = true
                $0.allow = [.Login]
                $0.usern

[2017-07-05 08:55] cocojoe commented on #131
Is this during the Authentication or during `userInfo` call? You can add logging to the `authentication` instance with
[code]

Can you provide the logging out please from console, redact your actual username/pass though :)

[2017-07-05 09:29] HuppDevelopers commented on #131
I thing this is during Authentication but not sure...

this is my logged output...

`
POST url
Auth0-Client: clientId
Content-Type: application/json

{"grant_type":"password","client_id":"abcdabcdabcd","connection":"Username-Password-Authentication","scope":"openid","username":"myUsername","password":"myPassword"}

HTTP/1.1 500
Content-Type: application/json; charset=utf-8
Content-Length: 81
Conne

[2017-07-05 09:34] cocojoe commented on #131
Thanks, also what version of Lock are you using and is there any more information given in the Auth0 dashboard if you click on Logs?

[2017-07-05 09:41] HuppDevelopers commented on #131
I am using 'Lock', '~> 2.0'

**Summary**
Occurred	12 minutes agoat 2017-07-05 09:25:36.768 UTC
Type	Failed Login
Description	secret must be a string or buffer
Connection	Username-Password-Authentication
Application	myApp
User	myUsername

**Context Data**
{
  "body": {
    "grant_type": "password",
    "client_id": "clientID",
    "connection": "Username-Password-Authentication",
    "scope": "open

[2017-07-05 09:53] cocojoe commented on #131
Thanks I've looked into this, it appears the error is to do with one of the rules you have setup.  Perhaps something was modified in your rules 3 days ago... I suggest you review your rule code and find the breaking point.

[2017-07-05 09:56] HuppDevelopers commented on #131
okay...

let me check, I will revert here if I could not accomplish it...

Thanks for your efforts and great help... :)

[2017-07-05 11:19] HuppDevelopers commented on #131
@cocojoe
I can't find solution yet. Will you please help me out?

[2017-07-05 12:44] cocojoe commented on #131
It would be best if you get in touch with our support team to help resolve this. Please reference this issue.

https://support.auth0.com

Thanks

[2017-07-13 05:18] andreyrd commented on #100
I have been including a `scope` override for SMS connections using Lock v1 for a long time, and it has always worked. The functionality is there in the API. I've decided to just stick to Lock v1.

I am in general frustrated in how much functionality has been taken out of or deprecated in Auth0 over the last year or so. ID tokens have been almost completely broken (and yes, I am only using them bet

[2017-07-15 10:42] #131 closed

[2017-08-02 08:02] marco1981 opened #137 "UserInfo class should show User ID"
**Version:**
1.7.1

**Description:**
UserInfo class does not contain information about user id. I know we can retrieve it by "sub" property, but I think it is more clear if UserInfo object can show "userId" property.
Json object retrieved calling UserInfo API already contains this property: "user_id". It's just matter to parse json object properly

**Expectation:**
Have userId field available in U

[2017-08-02 09:25] cocojoe commented on #137
UserInfo class reflects the standard claims http://openid.net/specs/openid-connect-core-1_0.html#StandardClaims and should be used with [OIDC Flow](https://auth0.com/docs/api-auth/tutorials/adoption/oidc-conformant)

If you are using the older flow, you can use https://github.com/auth0/Auth0.swift/blob/master/Auth0/Auth0Authentication.swift#L133

[2017-08-02 10:35] #137 closed

[2017-08-08 21:32] JRG-Developer opened #139 "No longer able to generate id token with app_metadata"
Previously, I was able to use a "legacy" call to generate `id_token` that contained the user's `app_metadata` like this:

    authentication.login(usernameOrEmail: email,
                                      password: password,
                                      connection: "Username-Password-Authentication",
                                      scope: "openid app_metadata offline_access",

[2017-08-09 09:30] cocojoe commented on #139
Please have a look at https://auth0.com/docs/scopes/current Thx

[2017-08-09 14:43] JRG-Developer commented on #139
@cocojoe

RTFM isn't helpful.

This document doesn't mention `app_metadata` anywhere, but rather, only gives examples of other claims.

I suspect one of the following is true:

(1) This is a regression. It's possible to simply include `app_metadata` in the scope for the legacy call, and it gets correctly added to the `id_token`.

(2) This is possible to do (I hope), but it's poorly documented, as

[2017-08-09 14:53] hzalaz commented on #139
@JRG-Developer this is not an issue of the library since its doing whats intended for the method since the new grant only allows the scopes either from OpenID connect or from your API identified by the audience parameter.

Also @cocojoe was right with RTFM since in that document https://auth0.com/docs/scopes/current#custom-claims you can find how you should be adding metadata to the id_token via a

[2017-08-09 14:53] #139 closed

[2017-08-09 15:08] cocojoe commented on #139
If you had looked at the **Example: Add Custom Claims** > **Sample Rule:**

You can copy this it to add the `app_metadata` value to the `id_token`, for example if you have a `roles` property it can be returned as a custom claim by adding a [rule](https://manage.auth0.com/#/rules/r) as follow:

[code]

Once you decode the `id_token` JWT it will be presented as a custom claim:
[code]

[2017-08-09 15:11] JRG-Developer commented on #139
@cocojoe

Thank you for the code example. I'll give this a go.

[2017-08-09 16:33] JRG-Developer commented on #139
For future Google users that find this thread - I was able to solve this based on @cocojoe 's suggestion to use a rule.

Here's my rule:

[code]

Where you need to replace `mydomain.com` with your actual domain name.

Thanks again, @cocojoe

[2017-08-17 14:16] ankits16 commented on #99
https://github.com/auth0-samples/auth0-ios-swift-v2-sample/blob/master/03-User-Sessions/Auth0Sample/SessionManager.swift#L71
this link does not work
@hzalaz I get this response in case of delegation api

then I enabled the OIDC settings for the client yet I get a nil id token in case of '**renew**' api

[2017-08-17 14:40] hzalaz commented on #99
@ankits16 yes its an old issue post, now in the readme we explain session management https://github.com/auth0/Auth0.swift#renew-user-credentials. Your error is probably due to a custom rule with bad code not related to the SDK so please check them or try it with them disable

[2017-08-17 17:35] ankits16 commented on #99
@hzalaz yupp you are right, thanks for the swift response

[2017-08-21 16:18] x-cray opened #142 "Switch to SFAuthenticationSession for iOS 11"
`SFSafariViewController` will no longer share cookies with Safari starting from iOS 11. This makes it hard to sign user out from social identity provider. Alternative approach is to use [SFAuthenticationSession](https://developer.apple.com/documentation/safariservices/sfauthenticationsession) for authentication/authorisation. It was discussed in https://github.com/openid/AppAuth-iOS/issues/120 and

[2017-08-21 16:31] hzalaz commented on #142
Once it's released as stable yes

[2017-08-21 16:47] x-cray commented on #142
Do you mean GM release?

[2017-08-21 17:01] hzalaz commented on #142
I mean stable one, GM could be fine

[2017-08-24 20:59] ryuichis opened #143 "Unauthorized Username/Password Login"
I was able to login with this method

[code]

And I noticed `/ro` is now deprecated, and new method is favored https://github.com/auth0/Auth0.swift/blob/swift-4/Auth0/Authentication.swift#L85

So I switch to use the new one as

[code]

But this one gives me 401 unauthorized error.

By looking at the doc https://auth0.com/docs/api/authentication#authorization-code, I realized the `client_secret` is

[2017-08-24 21:04] lbalmaceda commented on #143
Definitely, the `client_secret` _should not_ be used on any untrusted client like a mobile app. I'd check that the client you're using has that database connection enabled, and that an API with that audience exists. Does the error response include any more data like an error description?

[2017-08-24 21:22] ryuichis commented on #143
Yeah, just double checked the database connection is enabled, and the audience exists. I am including the logs of the request and response below:

Request:

[code]

Response:

[code]

[2017-08-25 14:05] lbalmaceda commented on #143
The other thing it may be happening is that your client doesn't have that grant enabled. I think by default, `native` type clients don't have it. Check [this](https://auth0.com/docs/clients/client-grant-types#edit-available-grant_types) doc on how to enable/disable client grants and try enabling the **Password** one.

[2017-08-25 22:06] ryuichis commented on #143
![screen shot 2017-08-25 at 5 05 36 pm](https://user-images.githubusercontent.com/4386920/29734402-aec43bea-89b7-11e7-886d-7ac74b1ce48d.png)

I believe I turned on everything...

[2017-08-25 22:08] hzalaz commented on #143
Is your application type not Native  @ryuichis ?

[2017-08-25 22:09] ryuichis commented on #143
@hzalaz it is not, we use this client for both our web app and mobile app. Do we have to use a separate native client? If so, could you elaborate more on that? Thanks.

[2017-08-25 22:12] hzalaz commented on #143
Yes, you need different clients for mobile and web app, sharing a single client is not recommended.

[2017-08-25 22:15] hzalaz commented on #143
Each client is mean to represent the one asking for Auth so you should be able to tell them apart, also mobile apps and web app uses slightly different Auth flows if you go into detail on OAuth.

[2017-08-31 10:41] danielphillips opened #144 "Refresh token is lost after refresh"
Note that logging in to retrieve credentials with Auth0 returns: `access_token`, `expires_in`, `id_token`, `refresh_token`, `scope` and `token_type`; however when refreshing the credentials, `refresh_token` is not returned in the response.

---

If using the `CredentialsManager`, after logging in one would call `store(credentials:)` to persist the credentials for later use.

When credentials are n

[2017-08-31 12:08] gscalzo commented on #144
Even if not ideal, a quick solution is in https://github.com/auth0/Auth0.swift/pull/145

[2017-08-31 15:07] ryuichis commented on #143
Switching to a mobile client made it work. Thanks for the discussions.

[2017-08-31 15:07] #143 closed

[2017-09-05 09:32] cocojoe commented on #144
Thanks, I've tested this now and can confirm. I am also going to propose auto saving the new credentials as a convenience as I feel it's the most common scenario for the intended audience of this utility.

[2017-09-05 10:11] cocojoe commented on #142
I am going to close as we are aware and monitoring the situation internally, thanks for discussion links.

[2017-09-05 10:11] #142 closed

[2017-09-11 10:03] cocojoe commented on #144
Merged

[2017-09-11 10:03] #144 closed

[2017-09-14 02:46] lookatitude opened #150 "Version 1.7.2 breaks on XCode 8 swift 3.2"
Guys I've just updated my pods and got version 1.7.2

Being that is a minor release should not break any thing right(semver)?
In this case is not Auth0 that is breaking is the dependency on cryptoSwift 0.7.0 that is to work with XCode 9 and Swift 4. The error is the same as stated in the cryptoSwift issue [#485](https://github.com/krzyzanowskim/CryptoSwift/issues/485)

Reverted back to 1.7.1 and a

[2017-09-14 08:34] cocojoe commented on #150
There is no breaking code change, it's not clear what you are asking. You say that it's broken but provide no screenshots and then say it's not Auth0 but another repo `cryptoSwift`?

The current release doesn't give any guarantees about Xcode 9 / Swift 4, 3.2. I made a PR #149   yesterday now that Xcode 9 GM has been released that makes the lib compatible with both Xcode 8 and 9. I suggest you try

[2017-09-14 09:59] krzyzanowskim commented on #150
Just FYI the CryptoSwift versioning and compatibility you may find useful: https://github.com/krzyzanowskim/CryptoSwift#swift-versions-support

[2017-09-19 14:58] helloniklas opened #155 "Can't compile in Xcode 9 any longer, where is the swift-4 branch gone?"
I'm pretty sure yesterday I was using a swift-4 branch and things were fine. Today I can't compile the project and the swift 4 branch seems to be gone?

The error I'm getting is:

/Users/niklas/Documents/development/iOS-b2b/Pods/Lock/Lock/DatabaseChangePasswordInteractor.swift:72:14: Value of type 'Authentication' has no member 'changePassword'

[2017-09-19 15:00] helloniklas commented on #155
So, I now can't use the swift 4 branch I used yesterday, which all worked fine.

Pre-downloading: `Auth0` from `https://github.com/auth0/Auth0.swift.git`, branch `swift-4`

[!] Error installing Auth0
[!] Failed to download 'Auth0'.

[2017-09-19 15:07] cocojoe commented on #155
The `swift-4` branch was a WIP and never official, only `releases` are official.  If you are using Auth0.swift I suggest you set the version to `~> 1.8` which is compatible in both Xcode8/9.  I see you are using `Lock.swift` there is a new version to be released soon.  However, if you set your branch to "master" until that is released you should be all good.

I'll keep this issue open and I'll upd

[2017-09-19 15:25] helloniklas commented on #155
ah right, as it turns out I don't actually use Lock, so removed the pod and it works fine now. thanks.

[2017-09-19 19:18] #155 closed

[2017-09-28 22:32] jeco1996 commented on #155
@helloniklas what did you do in order for it to work? I moved my project from swift 3 to swift 4 and all I get are errors of these 2 frameworks(lock and auth0)?

[2017-09-29 09:15] helloniklas commented on #155
@jeco1996 I removed lock as I don't use it. The latest auth0 works fine with swift4 for me. Try and clean the project and recompile. As for lock, you might have to wait and they sort it out...

[2017-09-29 09:53] cocojoe commented on #155
@helloniklas So Lock 2.4.0 was released which is compatible with Xcode 9.  However, it appears there is an issue if you are using Cocoapods although the solution is thankfully straightfoward.

https://github.com/auth0/Lock.swift/issues/470

[2017-10-03 20:52] Scottdgibbard opened #157 "No such module 'Auth0'"
In Xcode 9, Swift, I'm getting the error, "No such module 'Auth0.'"

[2017-10-03 20:54] cocojoe commented on #157
Hi @Scottdgibbard if you would like some help you will need to expand upon this with more detail please.

What are you doing? How did you add Auth0 to your project? What version of the lib, how did you import to your project etc etc Thx

Also try cleaning the project then rebuilding.

[2017-10-03 20:55] cocojoe commented on #150
Closing as should be good in 1.8.0 release.  Thx

[2017-10-03 20:55] #150 closed

[2017-10-03 21:30] Scottdgibbard commented on #157
I'm trying to integrate Auth0 into my Xcode 9, Swift application. The Auth0 version is 1.8. I tried using Cocoa pods, but that didn't work so I tried using Carthage and it didn't work, so right now, I'm using Carthage.
I tried cleaning and rebuilding
Thanks!

[2017-10-04 08:06] cocojoe commented on #157
This was probably your issue in Cocoapods (there is a simple fix provided). So I suggest you try that.
https://github.com/auth0/Lock.swift/issues/470

Carthage is a bit more involved so the issue is most likely configuration https://github.com/Carthage/Carthage#adding-frameworks-to-an-application

[2017-10-10 12:48] chyrta opened #161 "Can't implement login via Office365"
Can't implement login via Office 365 when I use purchased connection for my project.

[2017-10-10 15:19] cocojoe commented on #161
Hi @chyrta How are you launching authentication for this connection? Is this something that used to work and if so what has changed. Thanks

[2017-10-20 10:35] helloniklas opened #166 "1.9 not compiling in Xcode9"
So as usual when there is a new release things stop working.

Done a pod update to 1.9

It now complains about

Header 'Auth0-Swift.h' not found

Cannot convert value of type '(_) -> ()' to expected argument type 'SFAuthenticationSession.CompletionHandler' (aka '(Optional<URL>, Optional<Error>) -> ()')

in SafariAuthenticationSessionCallback.

Any ideas?

[2017-10-20 11:43] cocojoe commented on #166
So I can guess what this is, you are using Cocoapods in a Swift 4 project, when dependencies are added Cocoapods will set the dependency Swift to 4.0 regardless of their swift version (Cocoapods bug).

In this case the Auth0.swift lib is Swift 3.2 for compatibility in both Xcode 8 and 9. So the error is thrown on the above is due to the lib being changed from 3.2 to 4.0.  The 'Auth0-swift.h' heade

[2017-10-20 11:46] helloniklas commented on #166
Yes I'm on Swift4. Thanks will follow that post.

[2017-10-20 11:56] helloniklas commented on #166
Still gives the error
[code]

Will revert to 1.8.0 until this is fixed.

[2017-10-20 12:11] cocojoe commented on #166
I imagine you probably have to deintegrate the pod and reinstall for an existing project vs a new one.
So I just quickly checked this, you can also update setting in the existing Xcode project.

<img width="864" alt="screen shot 2017-10-20 at 13 04 11" src="https://user-images.githubusercontent.com/928115/31820139-c5bbde96-b597-11e7-890f-b83d615f9e74.png">

[2017-10-20 12:22] helloniklas commented on #166
Ok thanks. But I now get

[code]

I'm not using objective-c in the project.

[2017-10-20 12:27] cocojoe commented on #166
Well I can recreate your error easily and also easily fix with correcting the swift version. Only other thing I can suggest for you to is clean the project and possibly clear out your derived data and rebuild.

I will also look at a fix in Swift 4

[2017-10-20 12:30] helloniklas commented on #166
@cocojoe sorry, it did work in the end... it somehow switched back to 4.0... but it now works when set to 3.2. Thanks for swift reply...

[2017-10-20 14:28] #166 closed

[2017-10-21 11:55] chyrta commented on #161
@cocojoe I use the latest version of Auth0 for implementing web-based authentication. Android version of our project does the job great, but iOS does not, so I'm still trying to find out what is the problem with Auth0 for iOS.

[2017-10-21 13:44] cocojoe commented on #161
@chyrta hi it would if you could add some details, what doesn't work exactly? How are you using WebAuth? Is it an issue during WebAuth, if so what is the error, is there a screenshot?

The WebAuth for both iOS and Android work in the same way, they launch the browser and both point to the same Hosted Login Page. So if Android works and iOS doesn't then there is a strong change it is a configuratio

[2017-10-30 11:40] chyrta commented on #161
@cocojoe I have updated again Auth0 to the latest version and now I don't have this problem, thanks.

[2017-10-30 11:40] #161 closed

[2017-11-16 00:19] srgray opened #169 "SafariWebAuth.clearSession ignores federated flag"
Running under iOS 11 (and Swift >= 3.2), SafariWebAuth.clearSession ignores the federated flag passed into the function. It does not add the 'federated' parameter to the logoutURL.

[2017-11-16 09:59] cocojoe commented on #169
Good spot. Thank you. #171

[2017-11-16 14:13] cocojoe commented on #169
Merged

[2017-11-16 14:13] #169 closed

[2017-11-17 23:57] ATIK-Tech opened #173 "Getting the error "Cannot load underlying module for 'Auth0""
When doing `import Auth0` I get the error "Cannot load underlying module for 'Auth0" I'm on swift 4 xcode 9 and have the latest Auth0 Pod version installed with xcworkspace open.

[2017-11-20 09:51] cocojoe commented on #173
Tried this and could not recreate.
Try cleaning your project and reinstalling pods for your project.

[2017-11-26 15:56] srgray opened #175 "SilentSafariViewController dismisses before federated logout can complete"
When performing a federated logout, SilentSafariViewController dismisses before the federated logout can complete. (tested on iOS 10)

I suspect that SilentSafariViewController successfully loads the Auth0 logout page and its delegate method is called to dismiss the controller before the redirect to the federated logout page can occur.

I verified this by placing an arbitrary delay of 1 second bef

[2017-11-26 17:23] srgray opened #176 "SafariWebAuth.clearSession unexpectedly redirects to federated logout for non-SAML users"
I'm not sure if this is an issue with the Auth0 library or a misuse/misconfiguration on my part.

When specifying the federated parameter, the Auth0 logout url redirects to the Enterprise Connection (SAML) logout URL for all of my users, not just the SAML users (as I expect). I expect only my SAML users to be redirected to the SAML logout URL.

[2017-11-27 09:35] cocojoe commented on #175
Hey @srgray curious what happens when testing in iOS11 and it uses SFAuthenticationSession pathway?

[2017-11-27 09:37] cocojoe commented on #176
Hey @srgray can you walk me through the steps to reproduce and also what iOS you were testing on. Thx

[2017-11-27 14:14] srgray commented on #176
@cocojoe

I have tested this on iOS 10.2 and 11.1 simulators. The behavior is the same for both iOS 10/11.

Here are my Auth0 configuration details:
I have 2 types of users in my Auth0 configuration: those associated to a Database Connection and those associated to an Enterprise Connection (SAML IDP). For my SAML Connection configuration, I have specified a 'Sign Out URL'.

My iOS application, upo

[2017-11-27 21:15] cocojoe commented on #176
If the Authentication was performed using a Database Connection, you don't really `logout`, all you are looking to do is clear the `last login` session that would be the DB connection (Presuming you are using WebAuth for everything?) so you would call clearSession without federated.

I am wondering if you call it with federated it remembers the last federated connection perhaps e.g. SAML

`clearSe

[2017-11-27 22:29] cocojoe commented on #176
An alternative approach is to force a login, if you add .parameters(["prompt" : "login"])

[2017-11-29 02:37] srgray commented on #176
Yes, I am using WebAuth (through the Lock.swift library).

Can you explain more about `.parameters(["prompt"` : "login"])` ? Is that something to add to the WebAuth object?

[2017-11-29 10:09] cocojoe commented on #176
Sorry, yes add that to your `WebAuth` object.

**login**
The Authorization Server SHOULD prompt the End-User for reauthentication.

So when you have logged in for example with the Database connection, instead of calling `clearSession`, you could set a flag somewhere so next time you call WebAuth you add the `prompt` key with value `login` to force a reauthentication.

[2017-11-30 16:38] srgray commented on #176
OK, I'll give this a try.

What is the recommended way for my iOS app to 'know' that a Database Connection was used to login (so that I can set a flag for the next call to WebAuth)?

[2017-11-30 19:19] cocojoe commented on #176
Take a look at https://auth0.com/docs/user-profile/normalized/auth0#uniquely-identify-users
for the general idea.

When you retrieve the UserProfile check the [sub](https://github.com/auth0/Auth0.swift/blob/master/Auth0/UserInfo.swift#L31) property

[2017-12-05 18:35] srgray commented on #176
I ended up circumventing this behavior by implementing a variant of the suggestion: I only call SafariWebAuth.clearSession when my SAML users do a logout action. This allows me to do a federated logout for them and not for my Database Connection users. I identify my SAML users by looking for 'samlp' in the UserProfile sub property, as you suggested.

I chose this way because I don't have easy acce

[2017-12-05 18:35] #176 closed

[2017-12-05 18:37] srgray commented on #175
@cocojoe Any thoughts on this one? Is my assumption correct that the view is dismissing before it can redirect to the federated logout page?

[2017-12-06 09:24] cocojoe commented on #176
Great, as an FYI you can specify parameters in the Lock options that will be passed through to `webAuth`.

[code]

[2017-12-06 10:00] cocojoe commented on #175
So I tested in iOS 10 using a Google connection (I don't have SAML setup) and saw that it got redirected to google before closing. Now it may well be a timing issue, once the first URL is hit the `didLoad` callback is executed. It feels like the federated redirect takes place while the didLoad callback is executing. (As I didn't see it load the full page before it dismissed).

`SFAuthenticationSes

[2017-12-06 11:42] srgray commented on #175
OK, thanks for checking. For now, I'm going to add an arbitrary delay before the controller dismisses (on my fork of this repo, since it doesn't feel like a good, general solution).

[2017-12-06 11:42] #175 closed

[2017-12-07 09:48] cocojoe commented on #175
No problem, yes it's not ideal. That is why you may also want to try adding the `prompt=login` the next time you use Lock after a Logout.

[code]

[2017-12-08 10:24] SeanLintern opened #177 "Authentication().login goes to a background thread but doesn't bring back to main"
As title says

`Auth0.authentication().login`

goes onto a background thread, I cant see that stated in the docs and I would of thought it was the responsibility of the call to bring it back to the main thread?

Sorry if this is not the case, this is also the case the creating a user.

[2017-12-08 11:11] cocojoe commented on #177
What is your actual issue? That you want to update Ux? In that case you should call the main thread inside your closure and this is your responsibility.  If you want to see this in action, please take a look at the samples:

https://github.com/auth0-samples/auth0-ios-swift-sample

[2017-12-17 03:09] sohayb opened #178 "Federated flag is "still" not taken into consideration"
I try to logout using the below code:
[code]
After that is executed successfully, I try to login again, I tap on `Google` authentication, `Auth0` won't ask me for credentials and just logs me in.
Another part of the issue (related tho), is that if I deleted the app, and then re-installed it again, how can I clear the IdP values so `Google` login would ask for credentials again, without using the a

[2017-12-18 00:04] mpycio opened #179 "credentials.expiresIn empty"
I'm using _Auth0.authentication().login_ method to log-in user into my app but response returns credentials with _expiresIn_ property empty. Now when I try to renew idToken with _CredentialsManager.credentials_ it checks for expiresIn being set and being a future date and always returns .noRefreshToken. Can someone please point me in the right direction for solving this, should expiresIn be set or

[2017-12-18 09:49] cocojoe commented on #178
@sohayb During federated the flow of redirects causes the browser to callback the app (to close the browser). However, the browser will then try to redirect in this case to Google and may not have enough time to complete before the browser is dismissed.

I would recommend trying to force the login using the value `login` for `prompt` in your WebAuth instance.

[code]

[2017-12-18 09:57] cocojoe commented on #179
@mpycio Please show me the login snippet you are using. Thx

btw I wouldn't expect this to work if you are using a non OIDC client.

[2017-12-19 02:29] sohayb commented on #178
it seems this is working, thanks! Will close this for now.

[2017-12-19 02:29] #178 closed

[2017-12-19 17:36] mpycio commented on #179
Yes, client doesn't have OIDC enabled as it was used with previous versions of Lock/Auth0, I decided to upgrade but enabling OIDC breaks existing app so I guess I'll have to add new client. Code snippet below.

[code]

[2017-12-19 21:14] cocojoe commented on #179
Yes this will not work with Credentials Manager, I would recommend upgrading.  You just need to use `https://github.com/auth0/Auth0.swift/blob/master/Auth0/Authentication.swift#L126`
There is no need to use the `device` param either for OIDC.

[2018-01-09 16:48] SanjoDeundiak opened #182 "Always getting Access denied error"
I'm trying to proceed with simple example downloaded from your site for iOS. Unfortunately, when I login I get Access denied error. Logs show following callback is been called:
auth0.samples.auth0sample://sanjo.eu.auth0.com/ios/auth0.samples.Auth0Sample/callback?error=unauthorized&error_description=Access%20denied.&state=3nDQbr9tNB2gWN5I0Af1sTpCyj0hfawUFmcYPaOOscE

Any help on how to debug this?

[2018-01-09 16:51] cocojoe commented on #182
Hi @SanjoDeundiak I suggest you work through the QuickStart guide to get started.

https://auth0.com/docs/quickstart/native/ios-swift/getting-started

[2018-01-09 16:55] SanjoDeundiak commented on #182
@cocojoe I've seen this guide, and I'm using it from Dashboard where I was able to download finished example with my API details already filled.
<img width="1021" alt="screen shot 2018-01-09 at 6 53 37 pm" src="https://user-images.githubusercontent.com/6513916/34732702-adb50c2a-f56e-11e7-9c57-def5a4d9a7a7.png">

[2018-01-09 17:09] cocojoe commented on #182
Downloading it is one thing, but it's worth reading through as there are also manual steps such as setting up your callback. Generally if it doesn't work it's a case of double checking all of the steps.

[2018-01-09 17:22] SanjoDeundiak commented on #182
@cocojoe I've checked the tutorial. callback is setup correctly, otherwise I would see HTML with description that I should add this callback to the list of allowed callbacks (which I did). I hope that my error does really mean something and you can point where mistake can align more precisely than just "Check tutorial one more time"

[2018-01-09 18:02] cocojoe commented on #182
`Access Denied` infers the resource owner has denied access, so double checking setup is a good first sanity check, if you may have multiple clients it's worth checking that `Auth0.plist` has the credentials you expect.
If you have done this then I would add some logging so you can see what calls are being made that would aid in understanding what is happening with the client<>server API flow.

ht

[2018-01-09 18:09] SanjoDeundiak commented on #182
@cocojoe Credentials do match. Source code is pretty much the same as one in the sample.
[code]
Here are log messages for sign-up + sign in
[code]

[2018-01-09 19:11] cocojoe commented on #182
Thanks, so a simple way to sanity check is to copy the `authorize` url into a browser. Doing this I get:

[code]

The callback URL is case sensitive so you need to update the Callback to use `auth0.samples.Auth0Sample://sanjo.eu.auth0.com/ios/auth0.samples.Auth0Sample/callback` in the [Auth0 Dashboard](https://manage.auth0.com/#/clients/) and it should work.

[2018-01-09 19:28] SanjoDeundiak commented on #182
@cocojoe I changed it while digging around to find the issue. Now I've reverted allowed callbacks and get the same "Access denied" error

[2018-01-09 20:37] cocojoe commented on #182
@SanjoDeundiak I am wondering if there is something else going on that has not been mentioned, have you been trying out [Rules](https://manage.auth0.com/#/rules) in the dashboard?

[2018-01-10 10:42] SanjoDeundiak commented on #182
@cocojoe yes, that was the case. It turned out that creating default whitelist rule will block nearly all emails from sign up/sign in. Thank you for your help)
P.S. Adding some warning to this page for people like me, who digs everywhere to check out what service can do, would be great.

[2018-01-10 12:14] #182 closed

[2018-01-23 16:08] ahmattox opened #183 "Require User to Re-enter Password"
We need to require a user to confirm their identity to access part of an application.

Re-invoking the web auth: `Auth0.webAuth(). ... .start(...)` presents the log in view, but gives the option to continue with the same user without re-entering a password with the message, "Last time you logged in with".

There appears to be an option `rememberLastLogin` to disable this, but it's unclear if that'

[2018-01-23 16:15] cocojoe commented on #183
It sounds like you are possibly using the wrong tool for the job here, `re-enter` implies they have already been authenticated but are perhaps accessing a secure screen which requires additional validation.

In that case I would look perhaps at something like Touch ID / Face ID to quickly perform this validation inside the app.  https://github.com/auth0/auth0.swift#biometric-authentication

[2018-01-23 16:24] ahmattox commented on #183
@cocojoe Makes sense. It is what you're describing, but in this case I don't think that would be appropriate. Verifying with a password is preferred. Happy to give more details if that context is helpful.

[2018-01-23 17:37] ahmattox commented on #183
@cocojoe If this not currently possible, is it something that could be considered? Or can I provide any more details? We were pretty set on Auth0 for a new app, but this is a critical need.

[2018-01-23 21:43] cocojoe commented on #183
@ahmattox as you mentioned you could disable `rememberLastLogin`  [Lock options](https://auth0.com/docs/libraries/lock/v10/configuration) in your Hosted Login Page in the [Auth0 Dashboard](https://manage.auth0.com/#/login_page).

[2018-01-23 22:11] ahmattox commented on #183
That could work. Is the hosted login a feature that will be supported in the future? According to the documentation hosted pages are not supported by Lock v11 and Auth0.js v9.

[2018-01-23 22:17] cocojoe commented on #183
Yes, Lock 11 was released to address a different issue. The hosted login page doesn't need to use it.

[code]

[2018-01-23 22:21] ahmattox commented on #183
Great! We'll give that a try, and let you know.

For what it's worth I feel this could still be a useful (albeit rare) feature, and seems like something the page already nearly supported. Also the versioning is a little strange if 10 and 11 are both simultaneously supported, but that's no problem.

[2018-01-25 11:36] SeanLintern commented on #177
No, I think you misunderstand, I am saying that if a method goes to the background thread it should either state it in its docs or bring you back to the main thread when it is done internally, I don't think the user should have to guess the thread the callback will be on?

[2018-01-25 14:05] cocojoe commented on #177
Network requests should be handled async as they should never block the main thread. Have a look at [URLSession](https://developer.apple.com/documentation/foundation/urlsession) which is what our network layer uses. You will see the completion handler (callback) is scheduled on the delegate queue.  So this is standard and expected behaviour, no need for us to document this.

In a callback the deve

[2018-01-25 14:05] #177 closed

[2018-01-29 21:12] caitlin615 opened #184 "Add ability to use Auth0 in app extensions"
In Apple's Developer Docs, `UIApplication.shared` isn't available to app extensions: https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/ExtensionOverview.html#//apple_ref/doc/uid/TP40014214-CH2-SW6

The Auth0 library accesses this here: https://github.com/auth0/Auth0.swift/blob/4c60b8ab8139c303bc463678d8f18f9744f30a9e/Auth0/ControllerModalPresenter.swift#L

[2018-02-07 09:34] cocojoe commented on #184
This is not something we support and is not in our plans, I have not looked at it in great detail so do not know what is possible. However, if you wish to fork the repo and try out some ideas, I would be interested to see the results.

[2018-02-07 09:37] cocojoe commented on #183
11 is now the default for the HLP 😄

[2018-02-07 09:37] #183 closed

[2018-02-07 09:37] #179 closed

[2018-02-07 09:37] #173 closed

[2018-02-07 09:37] #157 closed

[2018-02-08 21:23] mpycio opened #185 "Token expiry issue."
I'm not sure this is issue of the swift library but there seems to be a problem with response to a login method, my client is set to expire token in 36000 seconds (10h) and this value is set correctly in JWT token payload but the response to the login method returns expires_in value as 86400 (1day).

Client settings:
![screen shot 2018-02-08 at 21 14 24](https://user-images.githubusercontent.com/9

[2018-02-09 14:17] SeanLintern commented on #185
I have also just experienced this, I set the expiration in the dashboard to 60 seconds, then check login to get a new token, check token expireIn and its 1 day from login time, but backend rejects token as its no longer valid.

I am using the `Auth0.authentication().login`

[2018-02-09 17:55] cocojoe commented on #185
In the server response the `expires_in` refers to the expiry of the `access_token`.

[2018-02-10 19:23] mpycio commented on #185
Thanks for the info, but I'm not sure how that helps me. So swift library checks access_token expiry date and sends potentially expired JWT token or refreshes before it expires depending on JWT Expiration value in auth0 client settings?
Other end uses https://github.com/auth0/express-jwt maintained by Auth0 team so I'm not sure what can I do to fix this.
Maybe I don't understand your response corr

[2018-02-10 21:39] andreyrd opened #186 "Passwordless without Hosted Login"
The Auth0 [documentation](https://auth0.com/docs/hosted-pages/login#why-use-the-hosted-login-page) states two things as facts:

On a native platform, does the first even apply? What's the difference between having a browser open up to execute the authentication code, or just executing the code natively?

As for the second point, is this simply because the new passwordless flow has not been impleme

[2018-02-15 17:14] cocojoe commented on #186
@andreyrd The method show in Auth0.js 8 uses cross-origin auth and is not available for mobile browsers.

I can assure you when an appropriate endpoint is available I will add it. I do not have a hard ETA for this though, other than soon.

[2018-02-15 21:33] andreyrd commented on #186
Thanks for the response!

Maybe I'm misunderstanding, but HTTP requests made from native code don't have any CORS restrictions?

I was able to manually authenticate via HTTP requests using the same endpoints Auth0.js 8 uses. From a high level:
1) `POST /passwordless/start`
2) `POST /co/authenticate`
3) `Get /authorize`
I'm guessing there are security issues with this approach since it isn't used,

[2018-02-15 21:55] luisrudge commented on #186
@andreyrd Isn't paw just using a browser underneath? That's why you can parse the access_token that we send in the url fragment. Basically, the server never receives anything after the hash (`#`), that's why we send `https://your-redirect-url.com/#access_token=foobar`. In this case, if you hit any server, the browser doesn't send the hash at all.

If you access `https://requestb.in/1it3wmj1#access

[2018-02-15 22:06] andreyrd commented on #186
@luisrudge the requests done mobile side will work exactly like the requests done in Paw. They're both just using standard HTTP clients underneath. I'll start working on a Swift playground to confirm though, and maybe help explain it better :)

The client will never actually visit the redirect, it'll just pull out the URL given in response #3. So there's no server involved at this point. RequestBi

[2018-02-15 22:28] luisrudge commented on #186
Right, so it's a browser thing then? Good to know 😝 I'm not sure if there are any security implications of doing this. I think you should ping our amazing support team at https://support.auth0.com and ask them to do a security check in your implementation. I'm pretty sure this scenario is totally not supported, even if it works. Our native SDKs will implement this feature once we have a proper sol

[2018-02-16 22:27] andreyrd commented on #186
Couldn't find any way to read input in Swift Playgrounds so I created a simple demo app instead!
https://github.com/andreyrd/Auth0-iOS-Native-Demo

I'll send it to my support ticket as well so the team can do a security check! Thanks!

[2018-02-17 19:00] SeanLintern commented on #185
This also causes an issue with Credentials manager with automatically expires the credentials after 24 hours ....

[2018-02-17 23:04] cocojoe commented on #185
@mpycio In the authentication response you posted, the `expires_in` value refers to the expiry of the `access_token` value not the `id_token`. This is my understanding as the backend option does say _control the expiration of the **id token**_ It doesn't say **access token**

[2018-02-19 09:56] SeanLintern commented on #185
Is the credentials manager class for storing Auth0 access credentials only? Obviously I can just take the idToken and keychain it myself, I was just under the understanding that Credentials Manager was a helper for this, but the credentials store access the hasValid() before returning credentials and returns nil if the accessToken is expired.

[2018-02-19 10:50] cocojoe commented on #185
The credentials manager is designed to look after your AT (access_token) which grants you access to Auth0. [hasValid()](https://github.com/auth0/Auth0.swift/blob/master/Auth0/CredentialsManager.swift#L82) returns a `bool`.
It is designed to be used with refresh token, so the credentials manager will automatically renew your AT when it expires (e.g. 24 hours)

[2018-02-20 00:25] Rypac opened #187 "Client ID and redirect URL not present in clear session URL"
When using the `WebAuth.clearSession` API to log out of an Auth0 session on iOS 11, the Client ID and redirect URL are not included in the clear session URL used to invoke the `SFAuthenticationSession`.

This issue is only present if the `federated` parameter is `false`.

[2018-02-20 09:46] cocojoe commented on #187
It should attempt to callback to the app, did you add the callback URL to the Allowed Logout URls?

https://github.com/auth0/auth0.swift#upgrade-notes

[2018-02-20 22:11] Rypac commented on #187
Thanks for the response @cocojoe.

Yes, the callback URL has been added to the Allowed Logout URLs. I believe I've found the issue as to why the redirect URL is not present in the clear session URL and have addressed it in #188.

In short, the change is:

[code]

When `federated` is not present in `logoutURL` the `components?.queryItems` is `nil`. Therefore appending the `returnTo` and `clientId`

[2018-02-21 09:55] cocojoe commented on #187
You are right this is a bug, thanks. I'll raise a PR for this.

If you try the `prompt=login` the IdP should require re-authentication. So in the case of FB it will prompt for the password to be re-entered. You have to go with what works best for your use case.

[2018-02-21 10:13] Rypac commented on #187
Great. I added a fix in PR #188 but feel free to raise your own. I briefly looked at writing some tests but there didn't seem to be a simple way to do it for the `SFAuthenticationSession`.

[2018-02-21 10:22] cocojoe commented on #187
Merged

[2018-02-21 10:22] #187 closed

[2018-02-21 15:12] cocojoe commented on #185
One thing I should have mentioned, for majority case you shouldn't use the id_token for validation in a backend.  https://auth0.com/docs/quickstart/native/ios-swift/04-calling-apis

You can obtain a JWT access_token by specifying your Auth0 API identifier as the audience in your auth. https://manage.auth0.com/#/apis

[2018-03-09 07:28] cocojoe commented on #186
You can use at your own risk. However, this is not an officially supported use case.

[2018-04-09 13:57] endy-s opened #192 "Missing info at Errors object"
I'm using the `createUser` method to perform the sign up of the user at my app and I'm facing a problem when the user inserts a password that doesn't match the required Password Strength.

I want to show to the user what is the problem at the Sign-Up with details, but the object that I receive at the failure is an Error that only `Received error with code invalid_password`.

In Android, the error

[2018-04-09 14:03] cocojoe commented on #192
Please show me some debug logging here so I can see your request and the server response. Thanks

[2018-04-09 14:08] endy-s commented on #192
This is the method to perform the sing-up:
[code]

I'm entering "aaa" as password

The prints of the `result` and `error` are:
**Result**: failure(Received error with code invalid_password)
**Error**: Received error with code invalid_password

At Android I receive the following info at the failure:
**code**: invalid_password
**description**: At least 8 characteres in lentgh; Should contain: lower

[2018-04-09 14:34] cocojoe commented on #192
Thanks but I would like to see the server request/response, please see: https://github.com/auth0/Auth0.swift#logging

[2018-04-09 14:52] endy-s commented on #192
Oh, sorry. This is the log of the request:
[code]

[2018-04-09 14:54] cocojoe commented on #192
Ok thanks, let me look into it.

[2018-04-11 00:29] ADevelopStudio opened #193 "refreshToken is nil :(("
- I have activated Refresh Token in grand types,
- I use scope: "openid profile offline_access"
however, I recieve  refreshToken: nil and somehow my scope in server responce is "openid profile"
Why?
<img width="841" alt="screen shot 2018-04-11 at 10 25 31 am" src="https://user-images.githubusercontent.com/5238454/38590171-f626509e-3d72-11e8-8048-4b63d393f3c6.png">
<img width="280" alt="screen shot

[2018-04-11 07:43] cocojoe commented on #193
Enable logging and please post your request and response.  Thx
https://github.com/auth0/Auth0.swift#logging

[2018-04-11 23:42] ADevelopStudio commented on #193
POST https://medapps.au.auth0.com/oauth/token HTTP/1.1
Auth0-Client: eyJuYW1lIjoiQXV0aDAuc3dpZnQiLCJ2ZXJzaW9uIjoiMS4xMC4xIiwic3dpZnQtdmVyc2lvbiI6IjMuMCJ9
Content-Type: application/json

{"realm":"rg3-dev","audience":"rg3_api-amazon-endpoint","client_id":"iFZsi6Acms16WjHxOB42FsCerW9cpxzF","password":"_REMOVED__","grant_type":"http:\/\/auth0.com\/oauth\/grant-type\/password-realm","scope":"openid pr

[2018-04-12 08:57] cocojoe commented on #193
In the [Auth0 Dashboard](https://manage.auth0.com/#/apis) under APIs, did you enable `Allow Offline Access`?
I redacted some of the info in your post, I removed the `audience` value. However, I think it was an audience other than `https://medapps.au.auth0.com/userinfo`.

[2018-04-12 23:34] ADevelopStudio commented on #193
thanks, @cocojoe
problem solved!

[2018-04-12 23:34] #193 closed

[2018-04-13 18:16] #186 closed

[2018-04-13 18:16] #185 closed

[2018-04-16 20:48] endy-s commented on #192
Any updates on your end?

Just found out that the response is different if the password validation error is related to the Password be based on user information.

[code]

With this request, I can get the `Password is based on user information` at `error.localizedDescription`.
The `Password is too weak` error message is also available in the error object.

It seems that only the policy related mess

[2018-04-17 16:22] starsy opened #194 "[SFAuthenticationViewController viewControllers]: unrecognized selector sent to instance"
- Auth0 version: (1.10.1)
- Deploy Target: 9.x, 10.x
- No such issue when using Deploy Target: 11.x & webAuth.useLegacyAuthentication()

[code]

Based on HybridAuth.swift
[code]

View Controller:
[code]

[2018-04-30 13:27] cocojoe commented on #192
Yes there are general password errors and then there are errors related to the specific password policy being applied.
For now you can extract a plain text version of the policy from the error.

[code]

output
[code]

[2018-05-01 19:57] endy-s commented on #192
It worked as you described.
Thank you!!

[2018-05-01 19:57] #192 closed

[2018-05-02 08:38] starsy commented on #194
@cocojoe

https://github.com/auth0-samples/auth0-ios-objc-sample

https://github.com/auth0-samples/auth0-ios-objc-sample/blob/master/01-Login/Auth0Sample/HybridAuth.swift

[2018-05-02 09:02] cocojoe commented on #194
I can not recreate this, I downloaded the Sample, the only change you have is to enable logging that I can see.

I tried in both iPhone 8 iOS 11 and iPhone 7 iOS 10.
Deployment Target: 9.3

[2018-05-07 04:49] SiddharthPromact opened #197 "Path configure in universal links path"
Hello Here i want to perform universal deep linking to my iOS app but due to the path not as per we want we can’t able to perform universal deep linking in my iOS app. I also refer [link](https://community.auth0.com/t/path-configure-in-universal-links-path/11218) but we are not getting solution for this.

also ask on Stackoverflow: [https://stackoverflow.com/questions/50207213/universal-links-with

[2018-05-17 14:11] chrisjf opened #200 "Disable the superfluous_disable_command in SwiftLint"
Hey Auth0 Devs,

### Bug Description

I have the following error in Xcode:

`MyProject-iOS/Carthage/Checkouts/Auth0.swift/Auth0/_ObjectiveManagementAPI.swift:73: error: Superfluous Disable Command Violation: SwiftLint rule 'function_parameter_count' did not trigger a violation in the disabled region. Please remove the disable command. (superfluous_disable_command)`

Could [this issue](https://gith

[2018-05-22 10:08] cocojoe commented on #200
What stops you updating your SwiftLint? 0.19 is a 12 month old version now. If there is an easy way to check if carthage is doing the compiling I may just remove it from the build  all together when it's carthage.

[2018-05-22 10:14] cocojoe commented on #197
So you want to add links to the Auth0 hosted apple-app-site-association ?

[2018-05-22 10:14] cocojoe commented on #194
I am closing, reopen if it can be reproduced.

[2018-05-22 10:14] #194 closed

[2018-05-22 10:14] cocojoe commented on #184
Closing, inactivity.

[2018-05-22 10:28] SiddharthPromact commented on #197
@cocojoe Yes, i want to add my path in it

[2018-05-22 10:43] cocojoe commented on #197
Then no this is not possible, I suggest you reach out to our excellent support team and request this.
https://support.auth0.com/

[2018-05-22 10:44] #197 closed

[2018-05-22 15:24] starsy commented on #194
thanks for the attention @cocojoe, i am busy on something else now, will update once come back to this.

[2018-05-22 15:57] chrisjf commented on #200
Hi @cocojoe If you read the [linked issue](https://github.com/realm/SwiftLint/issues/1855), you see that when I build my project in Xcode and have installed a version of SwiftLint greater than 0.19.0, I get the error (pasted above, and screenshot below):

![swiftlint-error](https://user-images.githubusercontent.com/105042/30925795-17d84e36-a381-11e7-9542-7a3f619ea320.JPG)

So that's why I'm "stuck

[2018-05-22 21:33] cocojoe commented on #200
Adding manually is not something we can support as there are so many potential configurations and manual adding is seen as more of an advanced use case as you're taking responsibility for all of the setup.

I did notice that you added the `//swiftlint:disable` to the code as it is not there on master?
https://github.com/auth0/Auth0.swift/blob/master/Auth0/_ObjectiveManagementAPI.swift#L72
So looks

[2018-06-07 12:59] #200 closed

[2018-07-10 18:13] endy-s opened #204 "Token without user metadata info"
I'm adding user metadata info at sign up using this code:
[code]

And after that, I'm performing a login using this code:
[code]

I'm expecting to have the `user metadata` within my token, but It is not working as expected.

What can I do to get the token with my token? Or what am I doing wrong?

Thanks in advance!

[2018-07-10 20:45] cocojoe commented on #204
You should take a look at the following [Quick Start](https://auth0.com/docs/quickstart/native/ios-swift/03-user-sessions#get-the-user-profile) for more information on user profiles.

[2018-07-10 21:09] endy-s commented on #204
Yes, I'm able to get the user profiles and the user metadata using the examples on the Quick Start.

What I want to achieve is the user metadata info inside the Token. I can do it with the Android SDK using the following code:
[code]

Is there anything like this for iOS?

[2018-07-10 22:39] endy-s commented on #204
I agree that disabling OIDC isn't that great, but, unfortunately, the project needs it this way by now :/

I'll try to inject the metadata info into the Access Token with the instructions at the link you send me and probably will have some updates tomorrow morning.

Thanks!

[2018-07-13 14:47] zazoomauro opened #205 ".renew doesn't work properly"
Versions to reproduce this bug:
[code]

I'm having some troubles trying to get a new access token from a refresh token.
I'm using a native app with swift 4.

LoginController looks like

[code]

SessionManager looks like:

[code]

and retrieveProfile:

[code]

The _refreshToken_ returns true. So, in theory, _access token_ is new.
Then I'm trying to retrieve profile again with the new access token a

[2018-07-13 15:37] cocojoe commented on #205
Thanks for the debug info, as you are using OIDC (default) you are using the wrong method for the user profile.

https://github.com/auth0/Auth0.swift/blob/master/Auth0/Authentication.swift#L342

You should be using

https://github.com/auth0/Auth0.swift/blob/master/Auth0/Authentication.swift#L362

As you

[2018-07-16 08:42] zazoomauro commented on #205
@cocojoe Thanks! the problem now is all the userInfo is completely empty. Only email and sub are provided

[2018-07-16 09:00] cocojoe commented on #205
The scope of the renew will be the same as original request. You should add `profile` to the `scope`.  Take a look at https://auth0.com/docs/scopes/current

[2018-08-01 03:04] vinamelody opened #212 "Adding request header using new method"
Hi, How can I add request headers (as parameters?) when using non-deprecating method such as:

- `public func login(usernameOrEmail username: String, password: String, realm: String, audience: String?, scope: String?) -> Auth0.Request<Auth0.Credentials, Auth0.AuthenticationError>`
- `public func createUser(email: String, username: String?, password: String, connection: String, userMetadata: [Strin

[2018-08-01 08:43] cocojoe commented on #212
For the first one, you should check you are on the latest version as it can already do this.
https://github.com/auth0/Auth0.swift/blob/master/Auth0/Authentication.swift#L129

For the rest of them I can't see a use case. What problem are you trying to solve?

[2018-08-02 08:33] vinamelody commented on #212
Thanks @cocojoe ! yeah indeed!
I'm just trying to add request header items :)

[2018-08-02 08:33] #212 closed

[2018-08-06 06:14] mrrhysbutler commented on #184
Just to chime in here, we too are currently integrating auth0 into a notification extension. We get warning:

`ld: warning: linking against a dylib which is not safe for use in application extensions`

on both Auth0 and SimpleKeychain libs.

Our use case is: notification extension needs to access API in background, almost certainly, we need to refresh access token as part of accessing private API.

[2018-08-08 13:48] cocojoe commented on #184
@mrrhysbutler it's not a focus for us. However, if you get it working please raise a PR be happy to review.

[2018-08-08 18:36] caitlin615 commented on #184
@mrrhysbutler I'm not sure if this will help, but to workaround this issue, I ended up just using the old Lock.swift API client (`pod 'Lock/Core', '~> 1.29.1'`) within the app extension to renew tokens and storing them in the shared keychain. Not an ideal solution since this version likely isn't supported anymore

[2018-08-20 05:22] nickvelloff opened #213 "Auth0 login EXC_BAD_ACCESS after callback"
I'm getting a `EXC_BAD_ACCESS` right after logging in. This happens after clicking the "magic link" that is hosted. It opens the app, calls the delegate method `func application(_ app: UIApplication, open url: URL, options: [UIApplicationOpenURLOptionsKey : Any]) -> Bool` correctly, then crashes.

I had this issue in my main project, so I am testing with a completely new clean project and have the

[2018-08-20 10:59] cocojoe commented on #213
If you are using passwordless, you will need to use `code` as the magic links generated via the Universal Login Page can not work for native mobile.

I will label as a bug as a crash is not good. However, what you want to achieve I do not believe is possible either.
I'm curious here can you disable the use of `SFAuthenticationSession` with the following option and see if it still crashes.
https://

[2018-08-20 13:28] nickvelloff commented on #213
Thank you for the quick response.

I’ll try the option you mentioned when I reach the office.

So are you saying that passwordless is not possible on native iOS? The approach I tried first I believe was the one you mentioned and it required a “legacy grant” which I could not add. If I’m wrong about that, could you point me to the specific docs?

Thanks for the help.

[2018-08-20 15:13] nickvelloff commented on #213
Hey @cocojoe

So it doesn't show the ViewController when I try `useLegacyAuthentication()` .. and I get the warning:

`Auth0Test[13881:6353446] [Warning] Attempting to load the view of a view controller while it is deallocating is not allowed and may result in undefined behavior (<SFSafariViewController: 0x14e01d000>)`

There really isn't much here:
[code]

[2018-08-20 15:58] cocojoe commented on #213
@nickvelloff Yeah if the legacy grant is not available then you can't access it.

Also don't call it from `viewDidLoad` use `viewDidAppear` as the view may not be available yet, hence the warning.

[2018-08-20 17:52] nickvelloff commented on #213
Is it possible to turn this on, per the documentation?
[code]

[2018-08-20 18:00] cocojoe commented on #213
No, this endpoint became legacy in June 2017. It will not belong before legacy endpoints are removed 5in the next major of this SDK. There are discussions around a replacement native passwordless. However, no ETAs on that yet.

In practice I find using the passcode via the ULP works well.  I used to find with magiclinks you could run into general iOS Universal Link issues depending on the mail cli

[2018-08-21 13:55] amatig opened #214 "SSO with 2 different app swift"
Hi,
I have 2 different apps swift with an app group id to share the info.
Is it possibile share the app credencials between 2 app in same group or how is it possibile access to the second app directly if I have already logged the first app?
1. First app first launch, login
2. Second app first launch, skip login and access directly on main viewcontroller

[2018-08-23 07:27] itjunkii83 opened #215 "Crashes on build"
Hello,

Used Carthage to load the library and used this to load this into a Obj-C AppDelegate https://auth0.com/docs/quickstart/native/ios-objc/00-login

Can't build because of this:

dyld: Library not loaded: @rpath/SimpleKeychain.framework/SimpleKeychain
  Referenced from: /Users/itjunkii/Library/Developer/CoreSimulator/Devices/F05E8AFB-D6AF-4DB7-BDB7-90E909184AAD/data/Containers/Bundle/Applicat

[2018-08-23 18:34] #215 closed

[2018-08-25 16:01] nickvelloff commented on #213
@cocojoe Just to wrap up the conversation, I though I would mention...
The iOS Auth0 library , when initiating this auth flow uses the currently supported [PKCE](https://auth0.com/docs/api-auth/tutorials/authorization-code-grant-pkce) challenge and validation flow. It in fact occasionally succeeds with delivering a valid access token.

The crash is related to the iOS Auth0 library (or underlying L

[2018-08-29 01:44] mrrhysbutler commented on #184
Thanks @caitlin615 for the suggestion, and @cocojoe for the feedback.

[2018-09-05 00:28] kdawgwilk opened #216 "podspec declares iOS 9 deployment target but sdk uses iOS 10 APIs"
This line uses a Type that was introduced in iOS 10 (see https://developer.apple.com/documentation/uikit/uiapplication/openurloptionskey) https://github.com/auth0/Auth0.swift/blob/9b9c194dda81386a6e773fae365229ca5e2c0a39/Auth0/_ObjectiveWebAuth.swift#L131
but the podspec declares iOS 9 as deployment target
https://github.com/auth0/Auth0.swift/blob/9b9c194dda81386a6e773fae365229ca5e2c0a39/Auth0.pod

[2018-09-05 00:32] kdawgwilk commented on #216
Workaround for those that are having the same issue, add this post_install hook at the bottom of your `Podfile`:
[code]

[2018-09-05 15:51] itjunkii83 opened #217 "Custom Domains"
I have setup and verified my custom domain and it says _ready_. I am using webAuth and the auth0.swift in iOS. If set login.trifectanutrition.com in my Auth0.plist I get this error:

Error: Service not found: https://login.trifectanutrition.com/userinfo

I am trying to avoid the pop-up prior to the Universal login which mentions the auth0.com domain, I need our customers to believe they are dealin

[2018-09-07 21:37] itjunkii83 commented on #217
Auth0 support instructed me how to fix this. Just comment out the .audience line. Wish that was documented somewhere, I have to assume most companies don't want Auth0's branding on their login pages.

[2018-09-07 21:38] #217 closed

[2018-09-11 17:47] cocojoe commented on #214
How is it setup on the Auth0 side, is it using the same Application details e.g. client/domain ?

[2018-09-11 17:48] cocojoe commented on #216
Good catch, it should match. Although I imagine we will becoming to the end of iOS 9 as the minimum soon, once 12 is released.

[2018-09-11 17:49] cocojoe commented on #213
Thanks for the update.

[2018-09-12 13:39] cocojoe commented on #205
Closed, inactive.

[2018-09-12 13:39] #205 closed

[2018-09-12 13:48] cocojoe commented on #217
Thanks for the information, ah so you're talking about the iOS SFAuthenticationSession popup that informs the user of the server they are connecting to for authentication. Yes this should be documented better. Let me add this to the backlog.

[2018-09-13 12:29] amatig commented on #214
Yes, the same app auth0 side but 2 different swift application. I want a SSO.
The workaround that I did is to save the credential on my app group. I don't use CradentialManager put I have a similar structure that save the serialisation on userdefault appgroup, to share this beetween the two app.

[2018-09-13 12:41] cocojoe commented on #214
If it's the same application client_id/domain then the SSO should work in the browser?

Although from your point in 2, you don't want to initiate the Browser Auth?
The issue being the extract steps and interaction involved?
It should be 2 clicks, one for the browser dialog popup and then clicking on the `Login in with` to use the last used login.
This 2nd step I believe will be removed soon so it

[2018-09-13 12:52] amatig commented on #214
How can I use your CredentialManager to share the same credentials on 2 different app?

[2018-09-13 15:43] cocojoe opened #220 "Compiler Issue in Xcode 10 Discussion"
There is a known issue when compiling in Xcode 10, the Swift 4.2 compiler introduced a bug (which has been recently patched but did not make it into Xcode 10 GM).
This is a problem today but will be fixed in a later Xcode 10 release. Awkward...

The issue results in a **Segmentation Fault: 11** caused by when a `mutating function` returns `Self`.

Reference:
https://github.com/apple/swift/pull/189

[2018-09-13 16:11] cocojoe commented on #220
Have taken a deep breath now.
Will roll out with creating a new instance, which may be an improvement for immutability. No BC either.

[code]

[code]

[2018-09-13 19:43] cocojoe commented on #214
You can't, why can't you use SSO via webauth though?

[2018-09-13 19:44] cocojoe commented on #220
I'll raise a PR for this tomorrow and update Lock.

[2018-09-13 19:52] OrestNazarewycz commented on #220
Thanks for being so responsive on this one, really appreciate it @cocojoe !!

[2018-09-13 20:18] cocojoe commented on #220
PR In Progress: https://github.com/auth0/Auth0.swift/pull/221

[2018-09-17 15:07] cocojoe commented on #216
So just checked this in Xcode. The min deployment target in Auth0.iOS project settings is iOS 9.0 and no problems are reported during the build and the cocoapod is correct in matching the projects settings.

[2018-09-18 19:14] cocojoe commented on #220
Released

[2018-09-18 19:14] #220 closed

[2018-09-19 21:11] leopic opened #224 "Unable to login after updating to latest version of Pod"
I recently updated from version 1.9.2 to 1.13.0 of the library and I'm now unable to complete the profile fetching process.

Any calls to `Authentication.start` always return a `401` error, which looking from the internals of the library, its a parsing error?

<img width="345" alt="screen shot 2018-09-19 at 3 05 16 pm" src="https://user-images.githubusercontent.com/117184/45781712-042e8b00-bc1e-11

[2018-09-20 08:58] cocojoe commented on #224
Is the *only* change to the SDK?

Please provide the actual code you are executing to perform the authentication and the subsequent call to the profile. Please enable logging so we can see the raw request made to the server and the response.

Be sure to redact any sensitive information.

[2018-09-20 21:07] leopic commented on #224
Hi @cocojoe

I re-tested this change this morning and its working alright, I manually went through all the releases we had missed to find the breaking point, to no avail.

Thank you very much for your reply, I'll be closing this issue.

[2018-09-20 21:07] #224 closed

[2018-09-24 15:29] cocojoe commented on #217
Had a chance to check on this, you ca set the `audience` to use the original Auth0 domain for your tenant when it comes to grabbing the user profile, this URL is not something visible to the user.

The pop-up name is the domain of the URL used to call authorize, an Apple *trust* feature vs any kind or branding exercise.

I will add a note regarding the correct use of `audience` when you are using

[2018-09-26 16:20] joelkraut opened #228 "Statically building Auth0.swift causes URL handling to fail on iOS 10 device"
On an iOS 10 device using universal login, I successfully signed in and receive a callback URL, but Auth0.resumeAuth() returns false for that URL. It turns out that when Auth0.swift is built statically (following the process in https://github.com/Carthage/Carthage/blob/master/Documentation/StaticFrameworks.md), the call to Auth0.resumeAuth() returns false. When we build the library as a dynamic fr

[2018-09-26 16:57] cocojoe commented on #228
Thanks for reporting, will take a look 🤔

[2018-09-26 17:13] joninsky opened #229 "Login after sign up?"
After using the framework for the first time I could not figure out if there is an easy way to log the user in right after sign up?

After a sign up success I get back a `DatabaseUser` object.

[code]
Is there a way for me to get `Credentials` at this point? I want to save the `Credentials` into the store like this.

[code]
Right now I just return them into the login page and have them login. I wo

[2018-09-26 19:35] Fyb3roptik opened #230 "Swift Version error in Xcode 10 cocoapods (In Unity)"
Getting this error when installing via cocoapods
[code]

[2018-09-27 16:08] joninsky commented on #230
Put this at the end of your pod
[code]

[2018-09-27 17:11] Fyb3roptik commented on #230
I tried that already. Same thing

[2018-09-27 17:12] Fyb3roptik commented on #230
I should specify, I have Auth0 inside of my Library and that library is in a Unity game that is exported to Xcode. So, Auth0 in this case is a cocoapod inside of a cocoapod

[2018-09-28 04:05] dylanmoo opened #231 "Refresh token property of credentials is nil"
I'm assuming the refresh token is working properly, because my application is using the credentials manager to refresh the user's access token even after the JWT expiration has passed. BUT I always get nil when checking the refreshToken property on the credentials.

In my dashboard I have configured my iOS application to use the Refresh Token grant and the scope "offline_access" is included in my

[2018-10-01 08:44] cocojoe commented on #231
You don't mention how you are authenticating or provide any logs, the first step would be to enable logging during your initial authentication request and take a look at the result.

Remember the expiry of the AT (Access Token) is defined by the `expires_in` key value in the response, the exp in the JWT could be different.

[2018-10-01 08:55] cocojoe commented on #230
The library does contain a [.swift-version](https://github.com/auth0/Auth0.swift/blob/master/.swift-version) file.

Given the scenario it sounds more like an issue in your own configuration, possibly modify the Pod file that Unity exports?

[2018-10-01 09:19] cocojoe commented on #228
This is not something we officially support. As you noted there is no issue when used dynamically as per our supported installation method. However, logically I would like to think that a library if configured correctly with this method should behave the same.

You specifically mention iOS 10, does it work in iOS 9 or 11?

Have you made any changes to compiler settings such as changing the optimis

[2018-10-01 12:35] joelkraut commented on #228
Works on iOS 11, presumably because it uses SFAuthenticationSession. Haven't tried on iOS 9, as my app doesn't support it. No changes to anything in the project except as outlined in the referenced document.

[2018-10-01 13:40] cocojoe commented on #228
Thanks, would you mind trying the [.useLegacyAuthentication](https://github.com/auth0/Auth0.swift/blob/master/Auth0/WebAuth.swift#L191) flag please. This will use `SFSafariViewController` under iOS 11.

[2018-10-01 15:11] joelkraut commented on #228
You mean as a test? I’d prefer it remain working in the app I ship.

[2018-10-01 16:49] Fyb3roptik commented on #230
No it has a .swift-version file too

[2018-10-01 16:56] joelkraut commented on #228
I'm sorry, I can't easily do that. Since opening this ticket we've upgraded to Xcode 10, necessitating a completely new build process. Rolling back and running a new build on the old process would take me half a day.

[2018-10-22 18:31] martinoconnor opened #238 "SFAuthenticationSession is now deprecated in iOS 12, ASWebAuthenticationSession should be used instead"

[2018-10-23 02:43] antonyharfield commented on #213
Any update on this issue? I'm seeing the same crash.

[2018-10-23 08:44] cocojoe commented on #213
@antonyharfield please provide reproducible steps thanks

[2018-10-24 12:01] jammy-git commented on #230
I have exactly the same issue. Nothing I do seems to allow `pod install` to run without this error and this is stopping me being able to build.

[2018-10-24 12:30] cocojoe commented on #230
@jammy-git are you also building for Unity? Please expand and provide reproducible details.

[2018-10-29 09:47] nerocristallo opened #241 ""We're sorry, something went wrong when attempting to log in." error 403 Invalid State"
I see this error trying to authenticate the user.
"We're sorry, something went wrong when attempting to log in."

The application is asking the authentication in the following way
[code]

Debugging the Safary login page when the request is performed

`Request
:method: POST
:scheme: https
:authority: XXX.eu.auth0.com
:path: /usernamepassword/login
Content-Type: application/json
Accept: /
Host: XXX.

[2018-10-29 10:50] nerocristallo commented on #241
The audience is correct but it is not "https://api.xxx.xxx" I prefer to keep it hidden :-)
The Anomaly Detection is on (we are using brute-force protection but not the breached-password protection) and it is set in this way since long time ago but the issue starts to happen just from a week.
We do not see any issue notified on the users account involved this login problem.

[2018-10-29 11:08] cocojoe commented on #241
OK then I suggest you get in touch with our great support team who can investigate this further. https://support.auth0.com/

I don't see it as an issue with the Auth0.swift library itself.

[2018-10-30 16:42] nerocristallo commented on #241
Could it be related to a wrong "state" value or encoding?

I see that it is randomically generated and then base64 encoded, but I have no idea about how it is used by auth0 during the authentication process.

Can it be wrong in any way?

[2018-10-30 19:30] cocojoe commented on #241
I mean the error does mention `invalid state`, I would say strip it back to basics, create a new application and try one of the sample apps https://auth0.com/docs/quickstart/native/ios-swift

[2018-12-14 12:31] alimoeeny commented on #230
Any news on this, I also am building a Unity project.

[2018-12-17 10:37] cocojoe commented on #230
The current version of Auth0.swift is compatible across 3.x/4.2, so there is no issue with the library itself. What version does Unity set? Also if you are using cocoapods best to use 1.6 (Beta) with Xcode 10

[2019-01-03 02:38] scottandrew commented on #238
ASWebAuthenticationSession is iOS 12 only and is causing crashes on 11.x..

[2019-01-03 02:40] scottandrew opened #250 "ASWebAuthenticationSession is causing crashes on pre iOS12."
With the 1.14 upgrade the inclusion of ASWebAuthenticationSession causes apps to crash on startup on devices with 11.x and earlier.

[2019-01-03 15:25] samkhawase opened #251 "How to get a custom claim in the JWT?"
### Description

I'm trying to integret Auth0 into my existing App. I follwed the guide at [Postgrest Docs](http://postgrest.org/en/v5.1/auth.html#jwt-from-auth0) to add a rule to get the role from `app_metadata`. I've stored a custom property `role` in the `app_metadata`, and created a rule to Add persistent attributes to the user. However when I do a webAuth(), the credentials returned doesn't h

[2019-01-04 08:49] cosminonea opened #252 "Xamarin equivalent of PKCE authentication"
Not really an issue but a question.

I just spent an hour trying to do the PCKE auth flow from a Xamarin app on iOS but can't find a full solution. Is there an equivalent library for Xamarin that can do what this swift library does?

Thanks!

[2019-01-04 17:03] cosminonea commented on #252
found my answer

[2019-01-04 17:03] #252 closed

[2019-01-06 13:09] samkhawase commented on #251
For Future users:

I Solved it using the predefined Set roles to a user Rule template. Now the accessToken shows the Custom claim role.

[2019-01-06 13:09] #251 closed

[2019-01-08 09:46] cocojoe commented on #252
Care to share your answer? It may help others in the future. Thanks

[2019-01-08 09:56] cocojoe commented on #250
Thanks, what's your use case and test setup so I can recreate?

[2019-01-08 10:31] cocojoe commented on #250
I just tested in 11.4 Simulator with no issue. Can you fill out the issue template please. I'm curious if this is via cocoapods? Thanks

[2019-01-31 15:36] MODNickRome commented on #213
I'm having the same issue.
I'm using this sample project:
https://github.com/auth0-samples/auth0-ios-swift-sample/tree/master/00-Login

I had it getting the access code fine but when I tried to add this line to the HTML:
passwordlessMethod: ‘link’,

The troubles started to happen. I get it to send the email but when I go to the provided link and then click Go to MyApp it crashes, giving me a bad a

[2019-01-31 15:56] cocojoe commented on #213
Thanks for providing something I can look at.

[2019-01-31 16:53] MODNickRome commented on #213
No problem, let me know if you need any more information.

[2019-02-01 13:19] cocojoe commented on #213
I'm having difficulty replicating. However, what you are trying to achieve is not possible.  The `link` that will be sent is a weblink and not compatible for mobile apps. If you want to use passwordless you will have to use the code strategy.

[2019-02-01 14:15] MODNickRome commented on #213
Oh! Hm.  Do you happen to know what OP meant when he posted this:
"I implemented this same flow bare metal, per the PKCE Auth0 documentation, and it works perfectly."

I saw that and thought that maybe there was a way.

[2019-02-12 19:43] kdbertel opened #257 "Contradiction in .gitignore"
### Description

The `.gitignore` file contains the following lines:

[code]

This is a contradiction, and I think either `!Carthage/Build` or `Carthage/Build` should be removed to eliminate it, and clarify what's intended.

Also, if the intention is indeed to not check in `Carthage/Checkouts` or `Carthage/Build`, wouldn't it be better to just have the line `Carthage/`?

[2019-02-13 10:37] cocojoe commented on #257
Interestingly https://github.com/github/gitignore/blob/master/Swift.gitignore default only excludes Build. However, explicitly this should be:

[code]

Which could be

[code]

Certainly not a priority. However, please feel free to raise a PR in the mean time.

[2019-03-08 09:10] hoang-ei opened #258 "Usage of v2 users search engine"
Usage of api/v2/users instead of v3 in Pods/Auth0/Users.swift. Please update to v3

It gives me warning in admin web saying:

The User Search v2 engine is deprecated, please use v3 (search_engine=v3) instead.

### Environment

Please provide the following:

- Lock version 2.9
- Podfile
- Xcode version 10.1

[2019-03-20 21:06] BlindDev commented on #213
I'm having same issue: crash after opening the app from the email with the magic link.

So steps I've made:
- cleared safari cache
- launched the app
- app asks to continue open the web page to Sign In
- clicked continue
- app shows the web lock
- typed email
- opened received email
- redirected to the app
- received credentials (I'm not storing the reds for now, in test purposes)
- got the crash

[2019-03-22 18:29] Drewpom opened #261 "MFA Challenge"
I am trying to implement MFA into my app but there is no API in the current library to initiate a challenge request via the `/challenge` endpoint.

[2019-03-25 15:42] mksbamford commented on #230
This worked for me:

[code]
Credit:
https://github.com/CocoaPods/CocoaPods/issues/8118#issuecomment-450796157

[2019-03-26 11:38] cocojoe commented on #261
If you have configured MFA for your `Application` in the [Auth0 Dashboard](https://manage.auth0.com/dashboard/eu/fcauth/applications#) the challenge should automatically happen and you will get an error relating to MFA required and then you need to use the `loginOTP`.

See https://github.com/auth0/Auth0.swift/pull/189

[2019-03-27 16:02] mtrip opened #262 "Expose UserInfo properties to objective-C with Swift 4.X"
### Description

With Xcode 10.2, minimum Swift version is 4.0. When integrating Auth0 in a Objective-C project with Swift 3.0 we used to get access to UserInfo properties but with Swift 4.X we do not anymore.
Can you add the @objc attribute to the UserInfo properties?

https://auth0.com/docs/quickstart/native/ios-objc/03-user-sessions#default-information

### Environment

- Auth0.swift version: 4

[2019-03-28 16:24] cocojoe commented on #262
ObjC is less of a focus for us now.  However, if you would like to submit a PR I would be able to review this for you. Thanks

[2019-03-28 19:59] JARinteractive opened #263 "Xcode 10.2: 'public' modifier is redundant for instance method declared in a public extension"
### Description

Xcode 10 and the new Swift compiler version produce new warnings, including:  'public' modifier is redundant for instance method declared in a public extension

### Prerequisites

* [x] Did you check the documentation? [Add a link]
* [x] Did you check the [Auth0 Community](https://community.auth0.com/)?
* [x] Are you reporting this to the correct repository?
* [x] Are there any re

[2019-03-29 14:47] JARinteractive opened #266 "Support manual and Carthage --no-build dependency management"
### Description

A common method of pulling dependencies into a project is to use `carthage update --no-build` to checkout the dependencies, then letting Xcode manage the building of dependencies. Auth0 fails to build in this scenario due to SimpleKeychain not being built prior to the linker build phase.

See: https://www.mokacoding.com/blog/carthage-no-build/

### Prerequisites

* [x] Did you che

[2019-04-03 15:29] rfdearborn opened #268 "CredentialsManager.hasValid() returns true even if access token has expired and refresh token has been revoked"
### Description

I'm using Auth0 on a default database connection (i.e., no social or other connections configured).

When a user's access token has expired and refresh token has been revoked, `hasValid()` in `CredentialsManager` continues to return `true`. It seems like this comes down to:

`return expiresIn > Date() || credentials.refreshToken != nil`

when there is no `refreshToken` validity ch

[2019-04-03 15:34] lbalmaceda commented on #268
@rfdearborn hello! There's no way to check if a refresh token is valid or not other than trying to use it to get a new pair of credentials. So the `hasValid()` logic is still correct. It will be considered valid if access_token is present and not expired OR if the refresh token is present.

[2019-04-04 01:13] rfdearborn commented on #268
Fair! I do still think this is worth calling out in the documentation.

[2019-04-05 15:28] mfogel opened #269 "carthage build fails: macOSX 10.11+ sdk features used, deployment target 10.10"
### Description

Running `carthage bootstrap` fails to compile for scheme `Auth0.macOS`. The following error appears in the build log:

[code]

Some of the deployment targets in `Auth0.swift/Auth0.xcodeproj/project.pbxproj` appear to be set to `MACOSX_DEPLOYMENT_TARGET = 10.10`. If I change them all to `MACOSX_DEPLOYMENT_TARGET = 10.11` then the build goes through fine.

### Prerequisites

* [X] D

[2019-04-07 08:40] cocojoe commented on #269
What version of Carthage? I didn't have a problem building in Xcode 10.2.

[2019-04-07 16:34] mfogel commented on #269
Carthage version 0.33.0

[2019-04-09 20:17] tipok commented on #269
I'm getting the same issue using Cocoapods in AppCode 2018.3.6.
After changing `MACOSX_DEPLOYMENT_TARGET` as described in the issue description, builds fine.

[2019-04-10 07:52] rocklyve opened #270 "Support for Accio/ SwiftPM"
### Description

Support for [Accio](https://github.com/JamitLabs/Accio)
Since **Accio** supports SwiftPM for iOS, it would be great to support this!

### Prerequisites

* [ ] Remove Objective-C code
* [ ] Support SwiftPM/ Accio with **Package.swift**

### Environment

Please provide the following:

- Auth0.swift version = 5.0
- iOS version = 12
- Xcode version = 10.2

[2019-04-10 08:56] rocklyve commented on #270
#271 is the PR for this issue,

Before granting this PR, please grant the PR [SimpleKeychain/65](https://github.com/auth0/SimpleKeychain/pull/65)

[2019-04-11 06:13] jamisonhyatt commented on #231
@cocojoe  I believe I am running into the same issue - it could be a misunderstanding on my part though. Examples seem to point out that adding `offline_access` to scopes should include a refresh token when using `Auth0.authentication()`, but every example online uses `Auth0.webAuth()` so I can't be sure.  Doing the below, refresh token is not being returned.  I have configured the native app with

[2019-04-11 14:33] VictorNouvellet commented on #269
I think it is related to this radar: https://openradar.appspot.com/49262697

[2019-04-17 09:45] cocojoe commented on #270
Not sure why we should support this? I've not heard any demand for this.

[2019-04-19 11:01] cocojoe commented on #269
Thanks, I've just bumped min version in #272 although not sure on this, is technically a BC. However, 10.10 is very old.

Wondering if the radar issues is fixed in Xcode 10.2.1 as this was not an issue in Xcode 10.1

[2019-04-26 06:43] abhishekmomentsnap commented on #231
@jamisonhyatt  Please try using scope: ""openid offline_access""

[2019-04-30 11:02] colin-chan opened #274 "Request: custom modalPresentationStyle for SFSafariViewController"
### Description

For UI/UX reasons, we wish to change the default presentation style of the SFSafariViewController. By default it is pushed from the right side, we want it to be presented vertically from the bottom.

Specifically, can you allow custom modification of the 'modalPresentationStyle' property in the created SFSafariViewController in file SafariWebAuth.swift . I would like to change thi

[2019-04-30 12:02] cocojoe commented on #274
Hi @colin-chan this is not something we have any plans to work on. However, if you wish to submit a PR to expose this I would be happy to have a look at it for you.

[2019-04-30 16:27] colin-chan commented on #274
Hello, and thanks. I've added a pull request with my changes to allow this.

[2019-05-07 00:20] mfogel commented on #269
This is fixed for me now with v1.15.0

[2019-05-07 00:20] #269 closed

[2019-05-21 08:56] Saifu786 commented on #157
Hi, am getting same error and am unable build my project because of no module Auth0. Please help me with this issue and am using xcode 10.1

[2019-05-21 11:10] cocojoe commented on #157
@Saifu786 please raise a new issue and include the information requested and steps to reproduce. Thanks

[2019-05-21 21:15] quickthyme opened #278 "Several deprecation warnings when building for iOS 12 with no way to silence them"
### Description

Would like to formally submit a request that we clean up the non-supressable deprecation warnings that are being generated by the Auth0 module.

[code]

[code]

[code]

[code]

[code]

[code]

### Prerequisites

Set the minimum iOS deployment target to 12.1.

NOTE: This is required when the application sourcing in the SDK is set to 12. Otherwise, attempts to archive the app while

[2019-05-21 21:48] cocojoe commented on #278
The first two will not go away until a new major. However, the others can be looked at. I don't have time right now for these. However, will add to our backlog. Thanks for reporting.

[2019-05-22 03:05] quickthyme commented on #278
Understood! Thanks for addressing. We may just do that. I guess it hadn't occurred to me that you were open to pull requests for some reason. Not looking to just support latest code, just looking to not not support the latest code. :D

[2019-05-29 04:23] quickthyme commented on #278
Turns out we are able to just suppress the warnings for only Auth0 module. Seems like this was never an option before? Since we are carefully managing our integrations, we are fine with this as we will know if/when these deprecations will become actual problems. We just wanted these particular warnings we have already acknowledged out of the way so they don't obscure more interesting ones in our C

[2019-05-29 04:23] #278 closed

[2019-06-05 03:37] JackoPlane commented on #270
Xcode 11 now has direct integration with SwiftPM and Github will offer extended support for SwiftPM as of now. I think the direction Apple is pushing people is towards SwiftPM.

[2019-06-05 07:22] rocklyve commented on #270
Yeah and accio is made for this time, cause it can handle a Package.swift till SwiftPM is not fully integrated :)

[2019-06-10 06:41] dms90 opened #282 "Can't logout"
Can't log out using:

[code]

As it appears in the official documentation: https://auth0.com/docs/quickstart/native/ios-swift/03-user-sessions#on-logout-clear-the-keychain

I downloaded the example app and logout is not working.

It seems that the user is still logged in since login is not asking for user/pwd again.

I tried

[code]

but it shows an alert asking for sign in.

Calling

[code]

work

[2019-06-10 11:15] cocojoe commented on #270
I agree with @JackoPlane I'm not seeing any demand right now for an interim solution such Accio for this lib. I'm going to close for now.

[2019-06-10 11:15] #270 closed

[2019-06-10 11:21] #263 closed

[2019-06-10 11:21] cocojoe commented on #263
Warnings fixed in Xcode 10.2 update PR.

[2019-06-10 11:39] cocojoe commented on #282
I agree, the language in that QS is a little unclear. As that is only clearing the credentials. Calling the Logout URL basically clears out the Auth0 session cookie. Also unfortunately as iOS works today it's not the most beautiful experience.

Another option is passing the `prompt=none` as a parameter next time you call WebAuth to force a new login.

[2019-06-10 15:23] ccannell opened #283 "Ability to change Dismiss Button Style in SFSafariViewController"
Is it possible to change the [dismissButtonStyle](https://developer.apple.com/documentation/safariservices/sfsafariviewcontroller/2875838-dismissbuttonstyle) of the [SFSafariViewController](https://developer.apple.com/documentation/safariservices/sfsafariviewcontroller/) that is being used by [Auth0.webAuth()](https://github.com/auth0/Auth0.swift/blob/master/Auth0/WebAuth.swift)?

[2019-06-21 16:02] JasonNeurotrack opened #284 "Occasional crash caused by force unwrapping optional in SafariAuthenticationSession.swift"
We have experienced at least twice where a crash was caused by the force unwrapping of an optional in SafariAuthenticationSession.swift

The snippet below is the cause of the issue. This is just one example. There are three times where this guard statement is copy pasted in that file. This code assumes that you will never have a situation where both $0 AND $1 are nil. Based on what I've seen in ou

[2019-06-21 17:37] cocojoe commented on #284
Thanks for the report, do you have some steps I can use to replicate the scenario in which this happens?

[2019-06-25 15:05] JasonNeurotrack commented on #284
Unfortunately I don't have a way for you to replicate it. I came across this from a few crash reports. But as you can see  there is an optional getting force unwrapped. Feels like an easy fix creating a generic "Unknown Error" object and using nil coalescing operator.

let foundError = $1 ?? genericError
Use foundError instead of $1 later on

There are certainly more elegant ways to fix it but at

[2019-06-25 16:51] ljesus opened #285 "Sign In With Apple"
### Description

The new Sign In With Apple feature implemented by Auth0, when used on Apple phones, should use the native authentication of iPhone. When using the Auth0.swift sdk with the "apple" connection, the login works as expected however the authentication process takes place in the SafariWebViewController instead of natively. Are there plans to include a native Sign In With Apple?

I use A

[2019-07-01 12:46] cocojoe commented on #285
Hi @ljesus, yes there will be. We tend to let the betas settle down first.

[2019-07-26 14:41] MarcoFilosi opened #290 "Memory leak once `Auth0.authentication` method is called"
### Description

There is a memory leak every time we create and keep a new `Authentication` object by calling `Auth0.authentication` static method.

### Environment

- Auth0.swift version: 1.16.0
- iOS version: 12.4
- CocoaPods version: 1.7.5
- Xcode version: 10.3 (10G8)

### Reproduction

* Create a new Single View App project on XCode
* Add Podfile to the project and install `Auth0` pod (versio

[2019-07-29 08:32] cocojoe commented on #290
Thanks for reporting.

[2019-07-30 07:01] MarcoFilosi commented on #290
@cocojoe There is a pull request to fix it: #291
Please review it. Thanks

[2019-08-01 10:10] cocojoe commented on #290
Thanks for the PR, this change would be a Breaking Change as it changes the type of Public API object.  In general `structs` are preferred in Swift.

I'll need to allocate some time to have a look at the instrumentation here. If genuine and not a false positive, 128 Bytes is on the trivial side. However, we should explore further.

[2019-08-05 17:46] f-gonzalez opened #293 "Display Registration screen with Universal WebAuth?"
The Universal login page contains **both** login and registration in the same screen (divided with tabs). Suppose I want to have _two buttons in the app_, one for login and another one for registration, it is possible to add some parameter to the webAuth() method to open the web page showing directly the registration screen (its the same screen but with that tab already selected)?

Auth0
.webAuth(

[2019-08-06 18:53] ck1125 opened #294 "Option to have WkWebView for login/registration journey instead of SFSafariViewController"
### Description

I would like the option to kick off the login/registration journey within a WkWebView instead of the SFSafariViewController so that  I can trigger end-to-end automation tests that include my app and Auth0 within Appium.

[2019-08-06 19:07] #293 closed

[2019-08-08 09:03] cocojoe commented on #294
`WKWebView` was deprecated in 2017 by OAuth providers. This is not something we will be adding. Thanks.

[2019-08-08 09:03] #294 closed

[2019-08-08 09:04] #284 closed

[2019-08-08 09:04] #282 closed

[2019-08-08 09:04] #274 closed

[2019-08-08 09:04] #268 closed

[2019-08-08 09:05] #266 closed

[2019-08-08 09:05] cocojoe commented on #266
Sorry, this method is not something we are considering supporting at this stage.

[2019-08-08 09:06] cocojoe commented on #262
Was added in https://github.com/auth0/Auth0.swift/releases/tag/1.16.1

[2019-08-08 09:06] #262 closed

[2019-08-08 09:07] cocojoe commented on #261
Do you still require help with this? Thanks

[2019-08-08 09:08] cocojoe commented on #258
This library is not opinionated about the search engine version used, it will use the Auth0 default.

[2019-08-08 09:08] #258 closed

[2019-08-08 09:08] #257 closed

[2019-08-08 09:08] cocojoe commented on #241
Closed due to lack of activity

[2019-08-08 09:08] #241 closed

[2019-08-08 09:08] cocojoe commented on #231
Closing due to lack of activity.

[2019-08-08 09:08] #231 closed

[2019-08-08 09:09] cocojoe commented on #230
Closing due to lack of activity.

[2019-08-08 09:09] #230 closed

[2019-08-08 09:09] cocojoe commented on #229
Closing due to lack of activity.

[2019-08-08 09:09] #229 closed

[2019-08-08 09:10] cocojoe commented on #216
@kdawgwilk is this still an issue?

[2019-08-08 09:10] cocojoe commented on #214
Closing due to lack of activity.

[2019-08-08 09:10] #214 closed

[2019-08-08 09:11] #213 closed

[2019-08-08 09:12] cocojoe commented on #283
There are no plans to add styling for this at present. However, I'll leave this open to see if more interested in generated.

[2019-08-08 09:12] cocojoe commented on #228
Closing due to lack of activity.

[2019-08-08 09:12] #228 closed

[2019-08-08 09:34] ljesus commented on #285
Hi, are there any updates on this? I noticed you closed the issue. Thanks.

[2019-08-13 18:01] CapeFurSeal opened #295 "iOS 13 Beta changes, Xcode 11 Beta and Auth0 Swift SDK."
### Description

When calling the webAuth function in iOS 13 nothing happens as the new delegate has not been implemented. Will this be fixed before the iOS 13 release?

[code]

<img width="305" alt="Screenshot 2019-08-17 at 09 21 38" src="https://user-images.githubusercontent.com/928115/63210078-594e7780-c0e1-11e9-9a61-6eddf81104a0.png">

[code]

### Prerequisites

* [x] Did you check the documen

[2019-08-15 10:30] cocojoe commented on #295
Support will be made for iOS 13. You can have a play with the beta branch in #297 and feedback if you like.

[2019-08-15 11:01] CapeFurSeal commented on #295
Thanks @cocojoe . Much appreciated.

[2019-08-15 16:46] cocojoe commented on #290
I've been looking into this, isolating down. It doesn't look like we are retaining anything. The call to read the plist is pretty standard stuff.

![Screenshot 2019-08-15 at 12 27 01](https://user-images.githubusercontent.com/928115/63110874-54c07c80-bf84-11e9-942e-34c973d71dcf.png)

[2019-08-15 21:09] OrestNazarewycz commented on #282
@cocojoe  I tried forcing prompt the next time i tried to login, but I am still getting logged in as the previous user automatically.

        webAuth
            .scope("openid offline_token offline_access")
            .parameters(["responseType": "token id_token", "prompt":"none"])
            .start {
                switch $0 {
                case .failure(let error):
                case .s

[2019-08-20 09:29] DostankoHeadspace opened #299 "Apple sign In"
### Description

We want to support sign in with Apple ID for Watch application. While public release is pretty soon and iOS sdk still doesn't support, can you suggest how we can do this now (e.g. using native createUser). May be we can contribute here?
Is the case that loginSocial method will be updated to support Apple login?
identityToken/userID generated by Apple instead token and corresponden

[2019-08-26 16:56] ljesus commented on #299
Also interested in this. Opened this issue: https://github.com/auth0/Auth0.swift/issues/285 but they closed it without any real updates.

[2019-08-27 08:59] cocojoe commented on #285
Will keep this open for visibility, I couldn't give out much detail at the time. So the solution will be inline with previous solutions for Native IdP. You should integrate Sign In With Apple as per Apple's guidance and then you will be able to call an endpoint exchanging the Apple token/code for an Auth0 one.

[2019-08-27 09:00] cocojoe commented on #299
See #285 as the original thread.

[2019-09-03 06:02] danchokobo commented on #263
what is means  update PR?

[2019-09-03 17:59] jessemx109 opened #306 "Swift package manager support"
### Description

Description of the bug or feature request and why it's a problem. Consider including:

Can you please add support for including the framework through swift package manager

[2019-09-04 09:39] cocojoe commented on #306
Hi @jessemx109 it's in our backlog to add 👍

[2019-09-07 13:42] piercifani commented on #306
Thanks, we also need this!

[2019-09-10 18:05] CapeFurSeal commented on #295
This worked perfectly on iOS 13.1 Public beta 2 with branch #297 .

[2019-09-11 23:39] jeffc-dev commented on #306
Also looking forward to SwiftPM support, hopefully sooner rather than later (as Xcode 11 is now out and SwiftPM is the "officially supported" way of handling dependencies).

Thanks!

[2019-09-13 15:54] wolfspy commented on #295
We are still experiencing this issue on v1.17.1 using the GM seed of iOS 13.

[2019-09-16 12:02] cocojoe commented on #295
All of this is addressed in 17.1 release.

[2019-09-16 12:02] #295 closed

[2019-09-16 12:07] #299 closed

[2019-09-16 12:08] cocojoe commented on #285
You can find the new endpoint in https://github.com/auth0/Auth0.swift/pull/304
This will be released soon. Thanks

[2019-09-16 12:12] #283 closed

[2019-09-17 18:16] dunada opened #308 "UI API called on a background thread iOS 13 using Legacy Authentication"
### Description

After update Auth0.swift to version 1.17.1 When I hit the login button, the app freezes for a few seconds and the proceeds normally, and I get the following message in the terminal:

=================================================================
Main Thread Checker: UI API called on a background thread: -[UIViewController presentingViewController]
PID: 1180, TID: 314715, Thread

[2019-09-17 19:04] cocojoe commented on #308
Please add the information requested in the issue template, it's not clear was this a crash or was it the UI thread checker which will throw an exception as a warning.

Sounds like https://github.com/auth0/Lock.swift/issues/565 which started in Xcode 11

[2019-09-17 19:59] dunada commented on #308
Sorry @cocojoe I just fixed the description, Yes you are right it looks like the  [auth0/Lock.swift#565](https://github.com/auth0/Lock.swift/issues/565)

[2019-09-18 20:57] malainp opened #309 "id token not renewed during getCredentials call unless access token is expired."
### Description

Description of the bug or feature request and why it's a problem. Consider including:

Got the same behavior as Android library described in [Android Issue 253](https://github.com/auth0/Auth0.Android/issues/253) in iOS App.

The IdToken doesn't refresh when expired. The token expiration time was set down to 1 hour and the library never called the `renew` method.

### Prerequisites

[2019-09-20 13:19] lbalmaceda commented on #309
Hi 👋@malainp we're already aware of this and tracking it on our backlog. I'll leave this open for you to track it as well.

[2019-09-23 05:07] rynecheow commented on #306
Hi @jeffc-dev - Do we have plans to work on this? I can help if there's a plan. Currently I am stuck as SPM is unable to build Objective-C code (SimpleKeychain).

[2019-09-25 17:20] jeffc-dev commented on #306
I have no near-term plans (a bit swamped with other work at the moment), but would be interested in testing if someone comes up with something.

[2019-09-27 12:17] dantonyblanco commented on #282
This is happening to us as well and opening safari to do the logout just doesn't work for our flow.
If this is not in the roadmap to get fixed we will need to swap Auth0 for another Identity Provider.
@cocojoe Did you close this because its something Auth0 will never support?

[2019-10-01 16:12] Tirth21896 commented on #295
I have updated my pods with all new pod release 1.18.0 and it's still giving me "`Error Domain=com.apple.AuthenticationServices.WebAuthenticationSession Code=2 "Cannot start ASWebAuthenticationSession without providing presentation context. Set presentationContextProvider before calling -start." UserInfo={NSDebugDescription=Cannot start ASWebAuthenticationSession without providing presentation con

[2019-10-01 17:25] cocojoe commented on #295
I would guess it relates to https://github.com/auth0/Auth0.swift#important-notice

[2019-10-01 17:50] Tirth21896 commented on #295
My bad when I cleared my build folder and then build it again it worked

[2019-10-03 22:00] matt opened #313 "Unable to authenticate using WebAuth on iOS 11.0 - 11.2"
### Description

No Auth0 code changes as of late. However, more robust testing using older versions of iOS.

**iOS 11.3 - iOS 13.1.2**
Working as expected

**iOS 11.0 - 11.2**
An error is returned after tapping Log In.

<img width="559" alt="1" src="https://user-images.githubusercontent.com/2709/66167226-8b6f5680-e607-11e9-8a13-08c0b885d750.png">
<img width="559" alt="2" src="https://user-images.

[2019-10-04 01:25] matt commented on #313
Upon further investigation, it appears the login view does not generally work with this version of Safari (Reset Password/Sign Up links). I will reach out to the team responsible for this tomorrow and troubleshoot with them to determine if the issue could be related to the html on the page.

[2019-10-04 15:57] #313 closed

[2019-10-10 06:03] LinkAndreas opened #314 "Include reason why removing Auth0 session did not succeed to improve client-side error handling."
## Improve client-side error handling when removing Auth0 session

Affected method in `WebAuth.swift`:

`func clearSession(federated: Bool, callback: @escaping (Bool) -> Void)`

### Problem:

Currently, when removing the Auth0- and/or Identity Provider session, a boolean is used to inform the client whether the operation succeeded or failed. Hence, client-wise error handling capabilities are limit

[2019-10-12 21:08] leojkwan commented on #295
don't know what I did wrong, on iOS 13, Swift 5.0  Xcode 11.1. ran into same issue. reverted back to 1.17.1 and fixed the problem.

[2019-10-15 08:35] JMCPH commented on #309
I'm experiencing the same issue, the user is logged out after the expiration time (24 hours) as the access token is expired, but the credentials manager does not renew the token.

Is there a way I can do this manually until a fix is comitted?

[2019-10-15 12:34] malainp commented on #309
@JMCPH if you have a request interceptor in your app you can evaluate the token life with [JWT library](https://github.com/auth0/JWTDecode.swift). If it is expired try to renew it manually like @camhart [did in android](https://github.com/auth0/Auth0.Android/commit/10e2c9cc0317c12a6667133c40f716f517b871e3#diff-3c60b1187240038264053066beedba42R145).

[2019-10-17 21:14] JMCPH commented on #309
@malainp Wouldn't it be easier just to save the email+password encrypted, and then just call the Auth0.login function instead?

[2019-10-17 23:04] spr opened #317 "Auth0.Result masks Swift 5 Result type"
### Description

If you `import Auth0` and try to use the [Result](https://developer.apple.com/documentation/swift/result) type, the Auth0.Result enum wins out. Since these have different type definitions, they aren't perfectly swappable. This requires you to explicitly specify the Swift version.

For example:
[code]

Generates a compiler error of "Generic type 'Result' specialized with too many t

[2019-10-20 16:09] cocojoe commented on #314
I believe when this was added it was only Safari based Auth available at the time. As you pointed out there is the additional outcome of cancellation during the permission dialog.

The BOOL result is based upon the URL being loaded in the browser, so failure around this scenario should only be an issue if Auth0 itself is down or internet connectivity issues.

Any change to the Public API is breaki

[2019-10-21 12:24] malainp commented on #309
@JMCPH that's one way to do it but I think is better to follow the steps of Auth0 while solving the problem.

[2019-10-21 12:34] camhart commented on #309
@JMCPH You never want to save passwords in a recoverable state.  If you salted the password before you hashed it you won't be able to recover it.  Benefits of auth0 is you'll be given a limited use access token that can be refreshed or revoked without the need of adjusting passwords.  I'm sure there's more to it than that as well.

[2019-10-21 21:48] joshcanhelp commented on #317
@spr - We appreciate the thorough report here! It sounds like this might need to be renamed, which sounds like it might be a breaking change. Can you think of something we could do to remedy this without breakage?

In the meantime, I've assigned this to the maintainers here to take a look.

[2019-10-21 23:07] spr commented on #317
I can't think of a way to make it work that doesn't contain some chance of breaking something downstream. If people are only using the data type from the Auth0 call, and never specifying the type, the type inference system will handle a name change automatically. But you never know what people are doing, so that's not safe.

The one nice thing is since it is a type, it'll break on compile, and not

[2019-10-22 11:02] colin-chan commented on #308
Is this going to be fixed for auth0/Auth0.swift. A fix was released for auth0/Lock.swift (#565) but the same problem hasn't been corrected for this project.

[2019-10-23 11:26] #285 closed

[2019-10-23 11:26] cocojoe commented on #285
Was released :)

[2019-10-23 11:26] cocojoe commented on #216
Closing stale

[2019-10-23 11:26] #216 closed

[2019-10-23 11:27] #314 closed

[2019-10-24 10:20] cocojoe commented on #309
Great to get some feedback on #319 which should address this.

[2019-10-31 10:18] #308 closed

[2019-11-13 09:51] #261 closed

[2019-11-28 10:23] cocojoe commented on #317
@Widcket can you evaluate this please for adding to docs. Thx

[2019-12-03 21:25] Ethan-VisualVocal opened #329 "EXC_BAD_ACCESS on [NSError description] from returned error"
### Description

When requesting `[NSError description]` using Obj-C on an NSError returned from the WebAuth start method, it crashes the app with EXC_BAD_ACCESS.

Looking at the call-stack... It seems like `[NSError description]` ultimately leads to Swift's "_SwiftDeferredNSDictionary.enumerateKeysAndObjects" is being called in an infinite loop.

### Reproduction

1. Run the sample: https://githu

[2019-12-04 09:38] cocojoe commented on #329
Thanks for reporting cc @Widcket

[2020-01-13 08:28] CapeFurSeal opened #332 "Auth0 1.20.0"
### Description

Description of the bug or feature request and why it's a problem. Consider including:

- The use case or overall problem you're trying to solve
- Information about when the problem started

### Prerequisites

* [x] Did you check the documentation? Yes
* [x] Did you check the [Auth0 Community](https://community.auth0.com/)? Yes
* [x] Are you reporting this to the correct repository

[2020-01-14 16:54] cswelin opened #334 "Carthage: watchOS missing shared scheme."
### Description

According to the main README.md Auth0 supports watchOS 2.0+, however, Carthage is missing the shared build scheme, which produces the following output when trying to target watchOS:

As seen at the following link the shared schema isn't present: https://github.com/auth0/Auth0.swift/tree/master/Auth0.xcodeproj/xcshareddata/xcschemes

### Reproduction

### Environment

- **Version o

[2020-01-14 19:50] xparabolax opened #335 "Refresh flow should allow parameters like Auth0.webAuth()"
### Describe the problem you'd like to have solved

My current flow for authentication includes using Auth0 to generate tokens with WebAuth. I am able to attach parameters to the call so that our Auth0 custom rules can run (appending some information that is based on the parameters to the tokens). This works fine. However, when the refresh flow is called due to token expiry, I receive an error sin

[2020-01-15 13:07] Widcket commented on #332
Hi @CapeFurSeal, what is the connection you're using? And what is the message that shows up in Xcode when the app crashes?

[2020-01-15 13:48] Widcket commented on #335
cc @cocojoe

[2020-01-15 16:15] #334 closed

[2020-01-15 16:16] Widcket commented on #334
@cswelin thanks for the report.

[2020-01-15 17:00] CapeFurSeal commented on #332
@Widcket  Here is my connection code. I will get the crash information and post it here.

` internal func signInWithSso(connection:String,
                              success: @escaping (Credentials?) -> (),
                              failure: @escaping (Error?) -> ()) {
    self.setAuth0Authentication()
      .webAuth(withConnection:connection)
      .audience(Auth0Constants.UserInfo.userInf

[2020-01-15 17:23] Widcket commented on #335
@xparabolax thanks for the report. Can you provide us with more details so we can better understand your use case?

[2020-01-15 17:29] CapeFurSeal commented on #332
@Widcket  It seems to be a memory issue...
`Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)`

[2020-01-15 17:33] Widcket commented on #332
@CapeFurSeal can you tell by the stack trace if the crash is happening in the result callback or before (SDK code)?

[2020-01-15 19:27] CapeFurSeal commented on #332
@Widcket

The crash is happening in the SDK, but I cannot see where exactly... I am pretty sure it's not my app because not matter where I place the code in the screenshot, it gives the same crash. I removed the whole connection id from the code in the screenshot.

<img width="1030" alt="Screen Shot 2020-01-15 at 9 25 17 PM" src="https://user-images.githubusercontent.com/2445057/72464336-bc9e1c00-

[2020-01-15 22:00] xparabolax commented on #335
Hi @Widcket!

In our Auth0 Custom Rules, we are modifying the token and adding a custom claim that the backend needs. This custom claim is based off of a parameter that we send from the client side (essentially, it's an environment selection so that the tokens are further enriched with user ID info). This works fine on the first authentication when we use `Auth0.webAuth()` as we are able to call i

[2020-01-16 10:54] cocojoe commented on #332
@CapeFurSeal you mentioned it only crashes on the latest version of the library, what version didn't present an issue for you?

I stripped this back and performed a similar test with no problems, would advise you to test with literal values and not constants to ensure there are no internal access issues.

[code]

[2020-01-16 11:45] #317 closed

[2020-01-16 17:27] Widcket commented on #317
@spr thanks for your contribution.

[2020-01-16 17:49] Widcket commented on #335
@xparabolax thanks for the additional details. Looks like [storing the parameter](https://auth0.com/docs/users/concepts/overview-user-metadata) in `app_metadata` may solve your problem. Please check out the [related QuickStart sections](https://auth0.com/docs/quickstart/native/ios-swift/03-user-sessions#managing-metadata) as well.

[2020-01-17 17:56] CapeFurSeal commented on #332
@cocojoe  I never had any issues with '1.19.3'.

[2020-01-17 18:56] CapeFurSeal commented on #332
@cocojoe I tried exactly this code and it crashes no matter where I place it inside of my app.

[code]
<img width="1046" alt="Screen Shot 2020-01-17 at 8 56 04 PM" src="https://user-images.githubusercontent.com/2445057/72638274-ca81a780-396b-11ea-8b01-559df9490e7c.png">

[2020-01-20 16:24] danielphillips opened #339 "Provide ability to inject headers onto auth service requests"
### Describe the problem you'd like to have solved

We need to be able to send a mandatory header to our proxy API for Auth0 via Auth0 SDK.

### Describe the ideal solution

The ideal solution we came up with was to provide the Auth0 an optional headers provider dependancy. The app can provide one or not, but if it does provide one then the SDK would take the headers defined in that header provide

[2020-01-21 10:08] pedrorgr opened #341 "Swift Package Manager support"
Hey guys, could you provide support to Swift Package Manager?

Thanks

[2020-01-21 10:10] pedrorgr commented on #341
Sorry duplicated, gonna close it

[2020-01-21 10:10] #341 closed

[2020-01-21 10:11] pedrorgr commented on #306
+1 on looking forward to this

[2020-01-21 14:48] cocojoe commented on #332
@CapeFurSeal we are unable to reproduce, please can you provide a bare-bones minimal sample project that reproduces the error using the latest release.

Thanks

[2020-01-21 21:15] Widcket commented on #339
Hi @danielphillips can you please provide more details on your use case?

[2020-01-22 17:17] Widcket commented on #329
@Ethan-VisualVocal, please see https://github.com/auth0-samples/auth0-ios-objc-sample/commit/0d9b19e77f2936890636b2479e64c6afe29c883e for a workaround. Thanks for reporting.

[2020-01-22 17:17] #329 closed

[2020-01-23 16:05] Widcket commented on #335
Going to close this one. If you need further guidance, please ping.

[2020-01-23 16:05] #335 closed

[2020-01-24 20:04] CapeFurSeal commented on #332
@cocojoe  Thanks. I made a sample project and the code worked. I am not sure what the issue was. I have the new version working now. I removed the Auth0 pod completely from the project and installed it again and everything seems to work now. Thank you for the assistance and apologies for the inconvenience caused.

[2020-01-24 20:04] #332 closed

[2020-01-27 08:14] kacper1703 opened #343 "[WebAuth] App crash after being some time in the background"
### Description

My app uses one time password to log in users. User enters e-mail in the WebAuth page and is asked to copy 6-digit code from e-mail to the dedicated WebAuth field.

Sometimes because user has to wait for the e-mail to arrive the application crashes if it's too long in the background (possibly session expiration in authentication or memory warning).

I was able to reproduce, when c

[2020-01-27 08:23] kacper1703 commented on #343
Also, we notice this crash occurring on production environment, with 94% of them on iOS 13.

[2020-01-27 13:02] Widcket commented on #343
Hi @kacper1703, thanks for the report. Can you please share with us a simple example app that reproduces this problem?

[2020-01-31 14:08] kacper1703 commented on #343
Unfortunately I'm not able to send an example project but we'll be switching to native OTP since there is a new API in SDK 1.20.0, so the issue will be resolved on our side.

[2020-01-31 14:08] #343 closed

[2020-02-03 12:52] Widcket commented on #339
Going to close this issue. Please ping if this is still something you need.

[2020-02-03 12:52] #339 closed

[2020-02-03 15:21] ryangittings commented on #306
+1

[2020-02-03 18:34] xparabolax commented on #184
Hi, I understand the issue is closed, but it seems that this approach might work to allow Auth0 to be used as a Pod in app extensions. Anywhere UIApplication.shared is used, we may be able to use this instead:

`let application = UIApplication.value(forKeyPath: #keyPath(UIApplication.shared)) as? UIApplication`

Of course, that means that some items that depend on UIApplication.shared returning so

[2020-02-03 22:45] amkomatz commented on #306
+1 We really could use this

[2020-02-07 13:34] El-Fitz commented on #306
+1 Really looking forward to this!

[2020-02-19 12:35] Widcket commented on #306
Thanks everyone for the input, but we won’t be moving forward with this ATM. SPM still does not support a way to exclude files by platform, and we have some Objective-C files we’d have to create a new target for (or migrate them to Swift and drop support for Swift < 4.2).
We’ll be happy to revisit this once SPM supports excluding files by platform.

[2020-02-19 13:21] piercifani commented on #306
I'm sorry @Widcket , but you can exclude files per platform easily on ObjC+SPM like this:

[code]

You can check it out here https://github.com/theleftbit/BSWInterfaceKit/blob/develop/Sources/BSWInterfaceKitObjC/include/BSWZoomTransition.h#L8

Would this change your mind?

[2020-02-19 16:03] Widcket commented on #306
We've considered workarounds for every issue, but we'd need to gate 25+ files, and that's not viable for us.

[2020-02-20 09:16] saltukalakus commented on #282
Hi , the parameter would be **prompt=login** instead of **prompt=none** to force the login widget.

[2020-02-28 07:41] mahboud opened #356 "Better use of iPad screen for login"
### Description

I’m using the Auth0.swift library. My app is iPad only. How do I show the login window in a more suitably sized manner, rather than the iPhone sized version? Since the app is often used in landscape mode, the login screen has elements below the scroll. My users get confused when they can’t see the buttons at the bottom of the page, and they don’t realize that they can scroll.

I'd

[2020-02-28 14:51] Widcket commented on #356
Hi @mahboud, can you please share a screenshot?

[2020-02-28 20:56] mahboud commented on #356
<img width="1320" alt="image" src="https://user-images.githubusercontent.com/1689095/75586582-99e06380-5a29-11ea-87f9-7ecdfba3434c.png">

[2020-03-05 12:51] sam-w commented on #306
@Widcket @cocojoe that's a real shame to hear. I'd like to see this reconsidered at some point.

[2020-03-05 13:56] Widcket commented on #184
@caitlin615 and all, we revisited this and got an implementation in the [feature/extensions-support](https://github.com/auth0/Auth0.swift/tree/feature/extensions-support) branch. It doesn't support WebAuth, so it can only be used as an API Client + Credentials manager. Can you try it out and see if it works for you?

[2020-03-05 18:09] myung commented on #341
duplicated? So where is the fix?

[2020-03-06 13:30] Widcket commented on #184
@xparabolax yes, you can use the credentials manager in the extensions while using WebAuth in the app.

[2020-03-06 16:19] xparabolax commented on #184
@Widcket I have in my Podfile these lines:

[code]

When I `pod install` for this Podfile, my authentication class cannot resolve `Auth0.webAuth` even though it is only a member of my MainApp target. It provides the error Module 'Auth0' has no member named 'webAuth'.

[2020-03-06 18:33] Widcket commented on #184
@xparabolax I went with a runtime check instead of a flag. Can you give it a try please?

[2020-03-09 18:15] gurugeek opened #359 "swift server side compatibility"
It would be nice to be able to use Auth0 on Swift Server side too!
May be is just a matter of creating the package (spm)

https://github.com/auth0/Auth0.swift.git @ 1.22.1: error: https://github.com/auth0/Auth0.swift.git has no Package.swift manifest for version 1.22.1`

[2020-03-09 19:22] Widcket commented on #359
Hi @gurugeek, [we've considered](https://github.com/auth0/Auth0.swift/issues/306#issuecomment-588203889) adding support for SPM but won't be doing it until it supports excluding files by platform.

[2020-03-09 19:22] #359 closed

[2020-03-09 21:20] xparabolax commented on #184
@Widcket That did it! It works perfectly for me. Thank you so much!

[2020-03-10 16:37] Widcket commented on #356
Hi @mahboud, unfortunately there's nothing we can do about the popup size as that popup is created and handled by [AuthenticationServices](https://developer.apple.com/documentation/authenticationservices). But we're discussing internally adding [tabindex](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex) to the buttons, so the keyboard arrows signal that are further ele

[2020-03-10 18:37] mahboud commented on #356
Thank you.

[2020-03-11 18:04] Ethan-VisualVocal opened #362 "App switch to confirm 2FA breaks authentication flow"
### Description
Same as this issue for the react-native plugin:
https://github.com/auth0/react-native-auth0/issues/256
Similar to this issue for the Android plugin:
https://github.com/auth0/Auth0.Android/issues/290

Post login that requires MFA, the user switches to the Authenticator app to approve the request, but when we return to our app that’s using Auth0.swift, we see a **“Safari cannot open

[2020-03-11 19:35] Widcket commented on #362
Hi @Ethan-VisualVocal, can you please share a video showcasing the issue?

[2020-03-12 06:26] ijknm opened #363 "Stack changing is not working [ very difficult ]"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-03-12 06:33] ijknm commented on #363
We have multiple stack For Example:
Dev-Stack
QA-Stack
SQA-Stack
Production-Stack

I want switch each one of stack in the application dropdown, But Auth0.plist file is not supporting:
Run time change configuration not allowed ,
Can we have any solution for this:

Now we are releasing each stack each build, But it's very hard do that.
We want change the stack depends on user select at run time.

No

[2020-03-12 16:51] Widcket commented on #363
Hi @ijknm! You can use the SDK in different environments by passing the Client ID and Domain programmatically, like so:
[code]

[2020-03-12 16:51] #363 closed

[2020-03-19 18:56] #184 closed

[2020-03-19 19:16] Widcket commented on #356
@mahboud, we added this to our backlog. Thanks for your report!

[2020-03-19 19:16] #356 closed

[2020-03-20 02:23] xparabolax commented on #362
I think this is the same issue as auth0/react-native-auth0/issues/256. The workaround for us was to use `UIApplication.shared.beginBackgroundTask`. Basic idea:

[code]

[2020-03-20 02:25] xparabolax commented on #362
We had the same issue and worked around it by using `UIApplication.shared.beginBackgroundTask`.
 https://developer.apple.com/documentation/uikit/app_and_environment/scenes/preparing_your_ui_to_run_in_the_background/extending_your_app_s_background_execution_time

[2020-03-20 14:06] Widcket commented on #362
Hey @xparabolax, with which identity provider did this happen to you? I tried to repro with a Microsoft account + the MS authenticator app (that uses a push notification), but was unsuccessful.

[2020-03-20 21:01] xparabolax commented on #362
Hi @Widcket we had this occurring with Google IDP (G Suite linked to Microsoft) + MS Authenticator app. But, this seems to be not occurring anymore. I'm not sure why.

[2020-03-26 13:25] JMCPH opened #368 "iOS Simulator - Storage saving is cleared every time"
#145 **Auth0Storage - Access Token is cleared on every run.**

The access token is cleared every time the app is run on the iOS simulator using Xcode 11.4
It is working perfectly on device, but quite annoying bug to encounter all the time while developing.

### Reproduction
Run the app
Login using e-mail
Run the app using Xcode
Storage is empty.

### Environment
- **Version of this library used: 1

[2020-03-26 16:16] Widcket commented on #368
Hi @JMCPH thanks for the report. We're tracking this issue here: https://github.com/auth0/SimpleKeychain/issues/90

[2020-03-26 16:16] #368 closed

[2020-03-30 02:22] Widcket commented on #362
![RPReplay_Final1585534407](https://user-images.githubusercontent.com/5055789/77869062-95b78980-7213-11ea-9d16-ec02b990b361.gif)

Test environment:
- iOS 13.4
- Auth0.swift 1.22.1
- MS Account
- MS Authenticator App

Will close this issue due not being able to reproduce. If this is still a problem for you, please reply with a video showcasing the issue.

[2020-03-30 02:22] #362 closed

[2020-03-30 16:44] Widcket commented on #184
This is now out in the [1.23.0 release](https://github.com/auth0/Auth0.swift/releases/tag/1.23.0).

[2020-03-30 20:52] waterskier2007 commented on #341
likely #306

[2020-04-01 02:45] waterskier2007 opened #374 "Credentials.expiresIn is nil even when present in token"
### Description

The initializer for Credentials is failing to parse the `expires_in` value properly, resulting in a nil value.

### Reproduction

I am running on the simulator with webAuth

[code]

I have stepped through the initializer in the Auth0 code and included a series of screen captures showing the odd behavior. The expires_in key is set and is being decoded as an int, but for some reason

[2020-04-01 08:44] Widcket commented on #374
Hi @waterskier2007, I wasn't able to reproduce:

<img width="433" alt="Screen Shot 2020-04-01 at 05 42 47" src="https://user-images.githubusercontent.com/5055789/78117142-a87cba80-73db-11ea-8efd-0cf20f6f47f4.png">

Also, there are [unit tests](https://github.com/auth0/Auth0.swift/blob/be7d820ae41715f1e392739ec67aa54f5badc94a/Auth0Tests/CredentialsSpec.swift#L70-L98) covering that.

[2020-04-01 08:44] #374 closed

[2020-04-01 11:36] waterskier2007 commented on #374
Ok, thank you for checking. It was driving me crazy, but I guess I have some more digging to do.

[2020-04-03 19:10] MichaelHudgins opened #375 "Feature request: Universal Login for MacOS"
### Describe the problem you'd like to have solved

### Describe the ideal solution

### Additional context

[2020-04-04 10:14] cocojoe commented on #375
@darkyen could be your time to shine 😄

[2020-04-08 00:10] CypherPoet commented on #306
Just an idea, but perhaps an issue with some kind of "Help Wanted" tag can be created for this.

I anticipate that demand for SPM support is only going to grow, and that seems like some nice low-hanging fruit for an aspiring contributor.

[2020-04-08 00:11] CypherPoet commented on #306
@Widcket @cocojoe Just an idea, but perhaps an issue with some kind of "Help Wanted" tag can be created for this.

I anticipate that demand for SPM support is only going to grow, and that seems like some nice low-hanging fruit for an aspiring contributor.

[2020-04-24 23:13] Widcket commented on #375
Hi @MichaelHudgins, the implementation is now up in the `macos-web-auth/implementation` branch. Can you please try it out?

[2020-04-25 00:59] MichaelHudgins commented on #375
Thanks for the feature, I’ll have a good chance to integrate and test this out on Monday.

[2020-04-27 14:02] MichaelHudgins commented on #375
@Widcket I got a chance to test out the branch this morning and everything is looking good.  I was able to get the test app working with my credentials returning back all tokens as expected.  Thanks for the hard work!  I saw the unit tests are targeting 10.12, is this the version that the webauth flow is expected to target?

[2020-04-27 14:53] Widcket commented on #375
@MichaelHudgins great! The webauth flow targets [macOS 10.15+](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession) (Catalina).

[2020-04-27 15:52] MichaelHudgins commented on #375
@Widcket a question on handling older operating systems, would a custom app scheme be a viable alternative `ASWebAuthenticationSession` ?  I realize there is the possibility that a malicious actor could attempt to register the same scheme but in that case I believe PKCE should prevent a compromised redirect from being used.

I have the option of splitting the ui for old users and new users but unf

[2020-04-27 16:50] Widcket commented on #375
@MichaelHudgins unfortunately we do not have plans for supporting older versions of macOS.

[2020-04-27 19:11] DrLuthor opened #380 "Unable to build since xcode 11.3.1 release"
### Description
Unable to build Auth0 using Carthage since update to Xcode 11.3.1

Description of the bug or feature request and why it's a problem. Consider including:

- The use case or overall problem you're trying to solve
- Information about when the problem started

### Environment
- Auth0.swift version : 1.23.0
- iOS version : 11.0

Cartfile
[code]

- Xcode version : 11.4.1

### Reproductio

[2020-04-27 19:18] Widcket commented on #380
Hi @DrLuthor, there's no need for explicit entries in the `Cartfile` for `SimpleKeychain` and `JWTDecode.swift`, as they're dependencies of `Auth0.swift`. Can you please try removing them or just updating them to the latest versions?

[2020-04-28 09:32] DrLuthor commented on #380
I did work. Thanks for the fast reply!

[2020-04-28 09:32] #380 closed

[2020-04-29 16:48] #375 closed

[2020-04-30 01:13] ejensen opened #383 "v1.24.0 regressions - methods missing - WEB_AUTH_PLATFORM not defined"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-04-30 09:33] cocojoe commented on #383
Thanks for reporting @ejensen can you supply a little more information. Want to check what version of CocoaPods you're using and also which platform you're building for.

[2020-04-30 12:43] Widcket commented on #383
Hi @ejensen, I've just reproduced this and created [a PR](https://github.com/auth0/Auth0.swift/pull/384) with the fix. Strangely this doesn't got caught by `pod lib lint` nor by manual testing with an app that has `Auth0` as a direct dependency instead of `Lock`.

[2020-04-30 12:55] Widcket commented on #383
In fact, in a `Podfile` with the line `pod 'Auth0', '~> 1.24'` it compiles fine, but if you replace it with `pod 'Lock', '~> 2.17'` you get the error described. Will investigate more to find out why.

[2020-04-30 15:43] #383 closed

[2020-04-30 17:52] Widcket commented on #383
The fix is out in [v1.24.1](https://github.com/auth0/Auth0.swift/releases/tag/1.24.1). Thanks @ejensen!

[2020-05-08 14:32] amadeu01 opened #387 "[Question] Login with social connection and mfa required, why it is not returning code ?"
https://github.com/auth0/Auth0.swift/blob/9b3eb5206f62721e3ecd45837e2c7a46e57e9cd4/Auth0/OAuth2Grant.swift#L131-L134

I'm doing basically a web auth flow.

[code]

**Obs:** `social` is basically an enum with the name of the connection.

It shows and goes through the social login, normally! However, when it comes back with the response, we got this error:

[code]

Any idea of what I might be doing

[2020-05-08 19:13] Widcket commented on #387
Hi @amadeu01, what are you putting on `authParameters `? Also, are you running any [Rule](https://auth0.com/docs/rules)?

[2020-05-10 01:19] amadeu01 commented on #387
@Widcket I'm using some rules, I was passing a value to be used in the rules. I found that some cache issue was blocking me from the behaviour I was expecting.

What is the right way of cleaning the web flow cache after the auth0 social login has ended? Is it possible to use the ephemeral session-like behaviour for iOS 11+ ? I know that we could use that for 13+. But, is any recommended way of usi

[2020-05-11 14:34] powerje commented on #306
I believe Xcode 11 is now required when submitting apps, so based on the notice in the readme I believe support for Swift < 4.2 is effectively dropped at this point:

[code]

I only see 3 ObjC files here now:
https://github.com/auth0/Auth0.swift/tree/master/Auth0

I assume the other files have been migrated from ObjC to Swift since this issue was created.

It looks like both dependencies required

[2020-05-11 16:45] Widcket commented on #387
@amadeu01 when you use SSO, Auth0 places a cookie in the system browser's shared cookie jar. To avoid that (and disable SSO), you can use `SFSafariViewController` via the `useLegacyAuthentication()` method (which we do not recommend, as it does not follow current Apple guidance). Also, we're [implementing an option](https://github.com/auth0/Auth0.swift/pull/388) to allow the use of `prefersEphemer

[2020-05-11 16:45] #387 closed

[2020-05-11 17:36] Widcket commented on #306
@CypherPoet we'll be happy to review a PR if somebody finds a way to get it done. Just keep in mind we won't accept a PR that uses `#if TARGET_OS_IOS` to gate files.

[2020-05-11 20:34] powerje commented on #306
Would changing the file structure work? I think adding subfolders for specific platforms might do the trick?

[2020-05-26 12:18] Widcket commented on #290
Hi @MarcoFilosi, apologies for the delay. I was not able to reproduce this on iOS 13.4.1.

Test environment:
- Xcode 11.5
- iPhone 11 Pro with iOS 13.4.1

<img width="671" alt="Screen Shot 2020-05-26 at 09 11 57" src="https://user-images.githubusercontent.com/5055789/82899383-4353ca00-9f31-11ea-9f60-9324f4ac42e4.png">

[2020-05-26 12:18] #290 closed

[2020-06-04 04:56] maxchuquimia commented on #306
Currently in the podspec it seems that lists of files are (manually?) maintained and then used as  exclude lists - from memory SPM also supports exclude lists, so couldn't the logic be the same? Just have arrays of files at the top of Package.swift and then exclude them where necessary? _Might look into it if I get the chance..._

[2020-06-04 16:53] user1man opened #393 "Incorrect argument labels in call (have 'appleAuthorizationCode:fullName:'"
Bug with Sign in with apple, can't use your guide. Don't work save data to credentials
[https://auth0.com/docs/quickstart/native/ios-swift-siwa](https://auth0.com/docs/quickstart/native/ios-swift-siwa)
I tried using other versions of the library, but it didn't help

131:23: Incorrect argument labels in call (have 'appleAuthorizationCode:fullName:', expected 'withOTP:mfaToken:')

[Error screen](htt

[2020-06-08 23:12] Widcket commented on #393
Hi @user1man apologies for the delay. Can you please add reproduction steps?

[2020-06-08 23:18] ejensen commented on #393
@user1man the native login methods were renamed in [v1.23.0](https://github.com/auth0/Auth0.swift/releases/tag/1.23.0) and above. In the older v1.21.0 version you are using, the Sign in with Apple method was named `tokenExchange(withAppleAuthorizationCode:fullName:)`

[2020-06-08 23:46] Widcket commented on #393
Thanks @ejensen!

[2020-06-08 23:46] #393 closed

[2020-06-09 08:12] user1man commented on #393
It works on 1.25 too. So you also need to fix docs on docs.auth0.com

[2020-06-09 13:50] maxchuquimia commented on #306
Alright, so I have something working: https://github.com/maxchuquimia/Auth0.swift
Essentially what I've built is a script that migrates this repo into an SPM compatible repo - there's a few issues that I've detailed in the ReadMe but I'm sure with a bit of collaboration they can be solved...

I added it into my project as a test and ran the iOS target - it seems to work!

I see this as a _possible

[2020-07-07 08:25] piercifani opened #396 "macCatalyst support"
### Describe the problem you'd like to have solved

We're building a macCatalyst version of our application, but some of the symbols used inside Auth0 are not available for macCatalyst. Specifically, `SFAuthenticationError` symbols are deprecated since iOS 13 and they should be migrated to `ASWebAuthenticationSessionErrorCode`.

### Describe the ideal solution

macCatalyst should be a supported pl

[2020-07-08 08:17] MoridinBG commented on #339
Hi
We have a similar requirement. In our case we need to provide a x-device-id header in the renew call.
Ideally, we would be able to add headers to the Request entity. Right now the only publicly exposed property or function is start.

[2020-07-08 10:29] cocojoe commented on #339
@danielphillips did you try passing in your own configured instance of `URLSession`

see https://github.com/auth0/Auth0.swift/blob/master/Auth0/Auth0.swift#L38

[2020-07-08 22:10] oboecat opened #397 "Auth0.swift does not compile with Xcode 12 on macOS 11"
### Description

When trying to compile a cross-platform app for MacOS on XCode 12 beta 2, it seems like the key-signing methods are not being linked properly or are unavailable. XCode throws two semantic issue errors:

- A0RSA.m:45:23: Implicit declaration of function 'SecKeyRawSign' is invalid in C99

- A0RSA.m:62:23: Implicit declaration of function 'SecKeyRawVerify' is invalid in C99

 Upon fu

[2020-07-10 10:35] cocojoe commented on #396
Thanks @piercifani we are evaluating this internally 👍  I'll leave this open for now.

[2020-07-10 10:38] cocojoe commented on #397
Thanks for reporting, always something with new versions of Xcode. Sort of odd here as Apple Docs make out like `SecKeyRawSign` was never available for macOS, yet it worked.

The alternative being `SecKeyCreateSignature` requiring 10.12, which was released 2016 so would be fine to update support to this as it's a security requirement.

PRs welcome 😄

[2020-07-10 10:44] cocojoe commented on #397
I see the project updater is also aggressively pushing now for min targets of iOS 12

[2020-07-14 20:17] Widcket commented on #397
Hi @oboecat, can you try fix on the branch `fix/macos-11`?

[2020-07-16 21:43] mackoj commented on #306
Hi,

RevenutCat did a great job for working with their ObjC code [RevenueCat/Package.swift](https://github.com/RevenueCat/purchases-ios/blob/develop/Package.swift).

Swift 5.3 will add a lot of feature regarding SPM maybe it's time to revisit this issue.

https://github.com/apple/swift-evolution/blob/master/proposals/0271-package-manager-resources.md
https://github.com/apple/swift-evolution/blob/m

[2020-07-22 17:31] jeremygrenier commented on #306
I couldn't agree more with @mackoj. More and more people are probably going to move to SPM with Swift 5.3.

Do you think it would be appropriate to reopen this issue?

[2020-07-24 17:31] jshier opened #400 "Authentication web view blank on iOS 14b3"
### Description

Using iOS 14b3, the `ASWebAuthenticationSession` presented for login is blank. This is presented within a navigation context as a push, using `webAuth.start`.

### Reproduction

We simply use `webAuth.start`, which presents the authentication view itself.

### Environment

- **Version of this library used:** 1.26.0
- **Version of the platform or framework used, if applicable:** iO

[2020-07-24 18:05] jshier commented on #400
With further testing:

* Initial load of the authentication controller loads no web content. There is no progress showing and nothing appears to load.
* After 10 seconds the title of the controller flashes and it appears to reload.
* After another 20 seconds, the content properly loads.

So this may just be an issue with the Safari view controller having delayed loading, as we also see issues on l

[2020-07-29 03:59] Widcket commented on #400
Hi @jshier, can you reproduce this with the [sample app](https://github.com/auth0-samples/auth0-ios-swift-sample/tree/master/00-Login)?

[2020-07-30 12:54] muzammil-triffort opened #402 "How to setup Environment?"
For iOS I have integrated the Auth0.plist in my app. Everything is working perfect but now I have added different environments like: Staging, Development and Production. Providing correct client_id is not working. I am trying to add the client id like this:

[code]

I am not sure this the correct way or not. As I don't find any other method to setup the client id on run time. I am using version 1.

[2020-07-30 14:47] Widcket commented on #402
Hi @muzammil-triffort, you can pass the `clientId` and `domain` programmatically like this:
[code]

[2020-07-30 14:49] #402 closed

[2020-07-30 17:56] muzammil-triffort commented on #402
I am not using WebAuth. I am using native method for login and signup.

[2020-07-30 18:56] Widcket commented on #402
@muzammil-triffort it's the same:
[code]

[2020-08-03 15:39] daniloc commented on #306
Just wanted to add a +1 to this issue. Adding Cocoapods or Carthage to a new project that's otherwise working great with SPM adds some serious overhead. They're just such clunky solutions by comparison.

[2020-08-04 11:15] JMCPH opened #403 "CredentialsManager for WatchOS"
### CredentialsManager on WatchOS
I'm always frustrated that I'm not able to use the credentials manager in the WatchOS extension.

Is this on the roadmap?

[2020-08-04 12:12] JMCPH commented on #403
@Widcket can I assign this to you?

[2020-08-05 18:04] fiix-haewon opened #404 "Cannot clear session with ephemeral session"
### Description
Auth 1.25.0 add `useEphemeralSession()` for iOS 13. It makes to start without content popup, but we cannot log out with ephemeral session.

### Reproduction

[code]

[code]

Suggestion:
[code]
### Environment

- **Version of this library used:** 1.27.0
- **Version of the platform or framework used, if applicable:** iOS 13 or higher
- **Other relevant versions (language, server soft

[2020-08-05 19:43] Widcket commented on #404
Hi @fiix-haewon, since `useEphemeralSession()` does not use Safari's shared cookie jar, there's no need to remove the cookie. It's like using a browser in incognito mode.

[2020-08-05 19:43] #404 closed

[2020-08-05 21:26] krames133 opened #405 "Opening Universal Login causes issue with SwiftUI App for iOS 14b4"
### Description
After updating to Xcode and iOS beta version 4 I am experiencing strangeness with the Auth0 universal login behavior.

I have a button that launches the universal login like so :
[code]

The behavior I expect is for the app to display the prompt that takes you out of the app to the universal login page as it did before. (Was working fine for beta version 3).

Now it seems to cause

[2020-08-06 14:29] fiix-haewon commented on #404
So, is it enough to revoke the token for logout?

[2020-08-06 17:33] krames133 commented on #405
I seemed to have solved this issue by reworking how I am managing my apps @ObservableObjects that handled navigation state.

SwiftUI has a new object type called @StateObject that was better suited to handle this along with the app/view lifecycle.

No further action is needed. Thank you.

[2020-08-06 17:33] #405 closed

[2020-08-10 13:14] JMCPH commented on #403
Would be really great to get some feedback and support as we are a paying customer of your product.

[2020-08-11 18:58] Widcket commented on #403
Hi @JMCPH, we're evaluating this internally and will update when we reach a decision.

[2020-08-11 19:02] Widcket commented on #396
Hi @piercifani, I tested with a sample app and it compiles successfully with Xcode Version 11.6 (11E708). [SimpleKeychain](https://github.com/auth0/SimpleKeychain) compiles with a couple of warnings, though, and those will be addressed.

[2020-08-11 20:50] Widcket commented on #404
@fiix-haewon to perform a logout you should clear the stored credentials and revoke the refresh token.

[2020-08-12 00:32] Widcket commented on #396
Auth0.swift also produces a few Catalyst-related compiler warnings, and we'll be addressing these as well.

<img width="1012" alt="Screen Shot 2020-08-11 at 21 30 50" src="https://user-images.githubusercontent.com/5055789/89962064-03d87800-dc1a-11ea-8865-86061f002242.png">

[2020-08-12 09:55] piercifani commented on #396
Hey!

I just updated to Auth0 version 1.27.0 and I'm still getting this error when compiling:

<img width="1490" alt="image" src="https://user-images.githubusercontent.com/869981/90002180-d7584680-dc81-11ea-8ae7-fe08281ddeeb.png">

[2020-08-12 19:27] JMCPH commented on #403
@Widcket thank you very much. Looking forward to your decision.

[2020-08-12 19:30] jshier commented on #400
Looks like this was a beta issue which is largely fixed in beta 4. I still see the `SilentSafariViewController` for a few seconds longer than usual, but the login Safari controller loads immediately now.

[2020-08-12 19:30] #400 closed

[2020-08-17 18:21] MichaelHudgins opened #406 "Add support for web based universal login for macOS 10.11 to 10.14"
### Describe the problem you'd like to have solved

The support of macOS 10.11 to macOS 10.14 for web auth flow.

### Describe the ideal solution

The ability to use the already preset 10.15 auth flow for previous operating systems

## Alternatives and current work-arounds

I have added a way to achieve this in older operating systems by launching the users default browser.  PR to follow

### Addi

[2020-08-17 18:35] MichaelHudgins commented on #406
See #407

[2020-08-18 11:38] JMCPH commented on #403
@Widcket when can we expect a decision on this?

[2020-08-18 23:10] jasdev commented on #306
+1 here too, SPM support would help us a ton

[2020-08-19 00:07] Widcket commented on #403
@JMCPH we'll be adding this in the next release, which will be out tomorrow.

[2020-08-19 00:07] #403 closed

[2020-08-19 08:34] JMCPH commented on #403
Thank you so much!!

[2020-08-19 18:29] Widcket commented on #396
@piercifani are you using Xcode 12 and/or macOS Big Sur?

[2020-08-19 22:10] Widcket commented on #403
@JMCPH the feature [has been merged](https://github.com/auth0/Auth0.swift/pull/409), but the release was delayed for tomorrow.

[2020-08-23 23:39] ejensen opened #413 "Swift Package Manager support"
### Describe the problem you'd like to have solved

Auth0.swift does not support distribution through the [Swift Package Manager](https://swift.org/package-manager/).

### Describe the ideal solution

Auth0.swift supports distribution through the [Swift Package Manager](https://swift.org/package-manager/)

## Alternatives and current work-arounds

Fork Auth0.swift to support the [Swift Package Man

[2020-08-24 10:46] tiagoalmeida commented on #397
Hi @Widcket, I have tried that branch and it doesn't work because there is a mismatch between ```__MAC_OS_X_VERSION_MIN_REQUIRED >= 101200``` and the Deployment Target declared in the project (10.11).

[2020-08-24 12:20] piercifani commented on #396
Yes, latest beta 5 in Big Sur

[2020-08-24 14:30] Widcket commented on #413
Hi @ejensen, thanks for raising this. SPM support is the top feature request for Auth0.swift. However, as [expressed before](https://github.com/auth0/Auth0.swift/issues/306#issuecomment-588203889), it's not possible at the moment because there's no way to exclude files by platform; we need to exclude the WebAuth files somehow for watchOS and tvOS, and migrate a couple remaining Objective-C files.

[2020-08-25 00:25] Widcket commented on #396
Thanks, we'll dig more into this.

[2020-08-25 19:10] Widcket commented on #397
@tiagoalmeida thanks for reporting, will revisit macOS 11 before it goes GA.

[2020-09-01 09:29] SergejLogis opened #415 "Auth0.swift fails to build with Swift 5.3 compiler"
### Describe the problem

`Auth0.swift` fails to build with Swift 5.3 compiler.

### What was the expected behavior?

`Auth0.swift` library built successfully.

### Reproduction

- Set Command Line Tools to use Xcode 12 Beta 6.
- Add `github "auth0/Auth0.swift" ~> 1.28` to Cartfile
- Run `carthage bootstrap --platform iOS`
- Observe `JWTDecode` dependency build failure.

### Environment

- Auth0.s

[2020-09-01 14:15] Widcket commented on #415
Hi @SergejLogis, thanks for reporting. `JWTDecode` fails to build because `Nimble` fails to compile, so we need to wait until they merge support for Xcode 12. We're tracking BigSur+Xcode 12 issues here: https://github.com/auth0/Auth0.swift/issues/397

[2020-09-01 14:15] #415 closed

[2020-09-10 15:23] Widcket commented on #306
We'll keep this open and pinned for future reference.

[2020-09-11 09:51] piercifani commented on #396
The issue is that `SFAuthenticationSession` is not available on Catalyst, so you have to use `ASWebAuthenticationSession`. Thankfully it's just a rename

[2020-09-17 11:24] SergejLogis commented on #397
Xcode 12 just gone GM. Any updates on Swift 5.3 compatibility?

[2020-09-17 14:04] Widcket commented on #397
@SergejLogis Auth0.swift compiles fine with Xcode 12 GM on Catalina. The issues are on BigSur, but we have to wait until Quick and Nimble release compatible versions.
<img width="1141" alt="Screen Shot 2020-09-17 at 11 03 07" src="https://user-images.githubusercontent.com/5055789/93481830-6554cc00-f8d5-11ea-9155-e59790b670b8.png">

[2020-09-17 14:12] Widcket commented on #406
Closing as we won't be pursuing this now, as per https://github.com/auth0/Auth0.swift/pull/407.

[2020-09-17 14:12] #406 closed

[2020-09-17 17:14] Z1napp opened #417 "loginSocial for Google is not working!"
**Hello, I’m trying to implement google sign in with Auth0 and I have an unsuccessful callback.**

What is wrong with my implementation?

[code]
I’ve implemented successfully google sign in presentation and in the delegate method “didSignInFor”
I implemented that code. With google everything is okay. It’s responding with the token.

Seems like that I have the same problem such as on that topic.
An

[2020-09-17 17:17] Z1napp opened #418 "emailVerified parameter (Profile) isn't update after verifying."
Hi There, I have issue related to “`emailVerified`” parameter inside “`Profile`” object callback inside “`Auth0.authentication().userInfo`” method.

Here’s my code:

[code]
In the dashboard (inside the user management section) I can track the status of email verification.
Before verification we’re have “pending” email status and after clicking on the link (attached in the email) - status changes t

[2020-09-17 17:22] Z1napp opened #419 "SignUp username parameter isn't update."
Hi there 👋

I have an issue related to username update on success.
The main trouble is that on **createUser** -> name is not update.
You can try to launch SDK code and register with the name passing and you will not see correct username in [Dashboard](https://manage.auth0.com/dashboard)

I think that trouble only with non-web users sign up.

Here's my code.
[code]

[2020-09-18 07:16] SergejLogis commented on #397
`JWTDecode`, which is mandatory dependency of `Auth0`, still fails to build with Swift 5.3 :(

[2020-09-18 08:15] cocojoe commented on #397
@SergejLogis both Big Sur and Xcode 12 are in Beta, once things settle down and if this is still a problem we will look into it once we are able to move to Big Sur as well.

[2020-09-18 08:16] SergejLogis commented on #397
Are you sure? Xcode 12 is GM, I have just submitted iOS 14 app to App Store...

[2020-09-18 09:06] cocojoe commented on #397
Yikes, I was looking at Xcode 12.2. Looking at previous comments @Widcket had confirmed that building was fine in Xcode 12 when using the current stable MacOS 10.15.x and you are running into difficulty running on Big Sur Beta? Can you confirm platform please.

[2020-09-18 09:10] SergejLogis commented on #397
Currently I'm not using any Beta software. I'm on Xcode 12 GM on macOS 10.15.6.
I have tried building Auth0.swift from Xcode, but I'm getting error that `JWTDecode` dependency not found. Then I tried to bootstrap project by running `carthage bootstrap --platform ios` (I only need iOS at the moment) and got the error on screenshot above. I don't see anything in logs, but the `JWTDecode` definitely

[2020-09-18 09:19] cocojoe commented on #397
Thanks @SergejLogis for the clarification. Would you mind building the JWTDecode project on it's own and raising into that repo please https://github.com/auth0/JWTDecode.swift/issues so we can keep the context in the right place. Let's keep this thread open though for now. cc @Widcket

[2020-09-18 09:47] SergejLogis commented on #397
Done!
https://github.com/auth0/JWTDecode.swift/issues/113

[2020-09-18 11:43] cocojoe commented on #397
Thank you ✋

[2020-09-18 14:39] CapeFurSeal commented on #306
I am migrating my code base from pods to package manager and this is the only repo that does not have support...

[2020-09-18 19:47] Widcket commented on #397
To clarify, the Auth0.swift framework itself builds on Xcode 12 (on Catalina). So do the JWTDecode.swift and SimpleKeychain frameworks. What doesn't build are the test targets, because Nimble. The Auth0.swift framework does not build on BigSur; we need to address those issues.

What does't work on Catalina with Xcode 12 is using Carthage to build Auth0.swift or its dependencies because it tries to

[2020-09-21 17:21] yanniks commented on #306
I would not consider binary distribution a good option, especially considering this: https://forums.swift.org/t/swiftpm-binarytarget-dependency-and-code-signing/38953/20
I understand that guarding all files might not be the best option. However, Auth0.swift is also for us the last library that does not support SPM. Also, scoping is at least partially possible using
[code]
as seen in [Firebase](htt

[2020-10-01 18:24] scottyelvington commented on #306
I have to second @CapeFurSeal, SPM plays much more nicely with LLDB and the toolchain than Carthage which is why we're fully moving away from Carthage to SPM as our official dependency manager. To me this seems inevitable. SPM is already industry grade and will also be industry standard in the near-term future. It can't be ignored forever. Exclude lists in the Package description should get the jo

[2020-10-01 18:40] scottyelvington commented on #306
Also, not to pile on or belabor the point or anything. But this particular dependency doesn't compile in Carthage in Xcode 12. I don't know how long I can hold off upgrading to Xcode 12 just to support a single dependency. We have iOS 14 related updates we absolutely need to get into production asap.

[2020-10-01 19:34] Widcket commented on #306
@scottyelvington https://github.com/auth0/Auth0.swift/issues/397#issuecomment-695053734

<img width="905" alt="Screen Shot 2020-10-01 at 16 34 13" src="https://user-images.githubusercontent.com/5055789/94854868-f95d8200-0403-11eb-8cbd-c84d243328c7.png">

[2020-10-01 19:38] Widcket commented on #306
Also check out https://github.com/auth0/JWTDecode.swift/issues/113.

[2020-10-01 23:24] scottyelvington commented on #306
@Widcket Carthage is pretty clear that they're not addressing the problem in 0.36.0. Supporting SPM seems like the way forward.
<img width="653" alt="Screen Shot 2020-10-01 at 4 22 49 PM" src="https://user-images.githubusercontent.com/9815381/94872803-6cfe8f80-0402-11eb-9dc2-f0429ca4c755.png">

[2020-10-02 08:13] cocojoe commented on #306
A little update, SPM is something we will be working on this quarter.  One challenge with these libraries is they are not minimal latest Swift only libs so there isn't a quick happy path to SPM support. Not an excuse, just an observation.  It has taken a while for the maturity of SPM to improve. I agree that with Xcode 12 and improvements to SPM this is the right time.

However, we also want to en

[2020-10-02 22:21] scottyelvington commented on #306
Thank you for the update @cocojoe, I'm happy to help you test SPM if that helps move the ball down the field so to speak.

[2020-10-06 15:01] heyzooi commented on #306
+1

[2020-10-06 16:21] wildseansy commented on #282
@saltukalakus' answer worked for me
[code]

[2020-10-06 20:05] amadeu01 opened #422 "[Feature Request] Open authentication on other browsers."
How can we make the web flow authentication using another browser? Such as Edge?

[2020-10-06 20:20] Widcket commented on #422
Hi @amadeu01, we use [Apple's APIs](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession) to perform web-based authentication. These use an embedded instance of Safari, and currently there is no way to choose another browser for that.

[2020-10-06 20:20] #422 closed

[2020-10-07 15:14] Widcket commented on #422
No, the SDK does not expose the generated authentication URL. That said, I'd advise against it as it does not goes with the current Apple guidance, and they might even reject your app on those grounds.

[2020-10-19 15:53] Widcket commented on #306
Hi everyone, we now have an implementation up in the `feature/spm-support` branch. Please try it out, any feedback is appreciated. The goal is to have a new release out by the end of the week.
Please check out [the PR](https://github.com/auth0/Auth0.swift/tree/feature/spm-support) for more details.

[2020-10-23 12:02] #306 closed

[2020-10-23 12:02] #396 closed

[2020-10-23 12:02] #397 closed

[2020-10-23 14:19] Widcket commented on #306
This is now out in [1.30.0](https://github.com/auth0/Auth0.swift/releases/tag/1.30.0)!

[2020-10-23 14:21] Widcket commented on #397
This is now fixed in [1.30.0](https://github.com/auth0/Auth0.swift/releases/tag/1.30.0).

[2020-10-23 14:22] Widcket commented on #396
This is now fixed in [1.30.0](https://github.com/auth0/Auth0.swift/releases/tag/1.30.0).

[2020-10-27 19:19] xparabolax opened #429 "Add documentation regarding proper usage of .credentials to avoid race condition [SDK-2079]"
### Describe the problem you'd like to have solved

When working on a project involving this library for authentication, I was surprised to see I could generate strange race conditions if I tried to issue concurrent API requests (since they are asking for the latest credentials every time). With rotating refresh tokens, this causes some errors that are problematic. I was expecting the Auth0 librar

[2020-10-27 19:35] Widcket commented on #429
Thanks @xparabolax, I'll be adding something to the README by the end of the week.

[2020-11-09 15:42] Widcket commented on #418
Hi @Z1napp, apologies for the delay here. Are you still having this problem?

[2020-11-09 15:49] Widcket commented on #419
Hi @Z1napp, are you still having this issue?

[2020-11-09 15:52] Widcket commented on #417
Hi @Z1napp, apologies for the delay. Are you still experiencing this issue?

[2020-11-10 09:31] Z1napp commented on #417
Hello, @Widcket, I've just tested it right now and it's still reproducing (Pod version is 1.30.0).
I have the same issue with the same "Not found" error.

[2020-11-10 09:34] Z1napp commented on #419
Hello, @Widcket, I've tested it with pod version 1.30.0 and it's still reproducing.
Please perform that method from the iOS project and for example, try to constantly put some name.
On the dashboard, you will not see any changes. (Username will be the same as user email).

[2020-11-10 09:47] Z1napp commented on #418
Hello, @Widcket, issue is still on version 1.30.0.
For issue reproducing please follow these steps:
1. Form iOS Code create some user (not from webAuth), use - "Auth0.authentication().createUser...."
2. Look at user management in the dashboard, try to find a user, which you've just created, and look at the "Email" section (It will say, that email is "pending").
3. Verify email with a link (attache

[2020-11-10 22:36] Widcket commented on #419
Can you please [enable logging](https://github.com/auth0/Auth0.swift#logging) and post the request and response logs?. Make sure to remove the Auth0 domain and other sensitive info.

[2020-11-10 22:38] Widcket commented on #418
@Z1napp can you please [enable logging](https://github.com/auth0/Auth0.swift#logging) and post the request and response logs? Make sure to remove the Auth0 domain and other sensitive info.

[2020-11-10 22:55] Widcket commented on #417
@Z1napp can you please [enable logging](https://github.com/auth0/Auth0.swift#logging) and post the response from the `loginSocial` call? Please remove the token, Auth0 domain and other sensitive info.

[2020-11-11 11:39] #429 closed

[2020-11-11 13:44] cocojoe commented on #417
Hi @Z1napp there may be a miss understanding of this functionality.

See: https://github.com/auth0/Auth0.swift/blob/master/Auth0/Authentication.swift#L578

The documentation for this method states that it is a legacy method and is no longer supported for new tenants as of 8th June 2017.  So there is no support at this time for exchanging a Google access token for an Auth0 one.

There is support fo